@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);
    background: url('/assets/home/bg3.webp');
    position: relative;
    overflow-y: hidden;

    &_background {
        @include screenSize(100%, auto);
        position: absolute;
        z-index: 0;

        &-desktop {
            @include screenSize(100%, 100%);
            object-position: top;

            //tablet
            @include for-tablet-only {
                display: none;
            }
        }

        &-mobile {
            display: none;

            //tablet
            @include for-tablet-only {
                display: flex;
                @include screenSize(100vw, auto);
                object-position: cover;
            }

            //mobile
            @include for-phone-only{
                display: none;
            }
        }
    }

    .content {
        @include screenSize(80%, auto);
        @include displayFlex(center, flex-start, column);
        color: $color2;
        z-index: 1;
        max-width: $wrapperDesktop;

        &_text {
            @include screenSize(50%, auto);
            padding: 10em 0;

            // tablet(S)
            @include for-tabletS-only{
                width: 70%;
            }

            //mobile
            @include for-phone-only{
                width: 100%;
                @include displayFlex(center, center, column);
            }

            &-title {
                @include screenSize(100%, auto);
                margin: 2em 0 1.5em;

                //mobile
                @include for-phone-only{
                    @include displayFlex(center, center, column);
                }

                h2 {
                    @include titleMain(start);
                    color: $color2;
                    margin-bottom: 3rem;

                    strong {
                        color: $color1;
                    }
                }
            }

            &-buttonWrapper {
                @include screenSize(85%, auto);
                @include displayFlex(space-between, center, row);
                padding: 1em 0;
            }
        }

        &_cardsSection {
            @include screenSize(85vw, auto);
            @include displayFlex(center, flex-start, column);

            //tablet
            @include for-tablet-only{
                max-width: 1000px;
            }

            &-cards {
                @include screenSize(100%, auto);
                margin: 6rem 0 0 0;
                @include displayFlex(center, flex-start, column);
                gap: 3rem;

                .card {
                    @include screenSize(100%, auto);
                    @include displayFlex(flex-start, center, row);
                    gap: 3rem;

                    //mobileS
                    @include for-phoneS-only{
                        @include displayFlex(center, center, column);
                        border: 1px solid $color8;
                        padding: 1.5rem;
                        border-radius: 14px;
                    }

                    &_icon {
                        @include screenSize(5rem, auto);
                        //mobileS
                        @include for-phoneS-only{
                            width: 85px;
                        }
                    }

                    &_desc {
                        width: 75%;
                        font-size: $text;

                        //viewport
                        @include for-viewport-only{
                            width: 85%;
                        }

                        //tablet
                        @include for-tablet-only{
                            width: 100%;
                        }

                        //mobileS
                        @include for-phoneS-only{
                            font-size: 1.25rem;
                            text-align: center;
                        }

                        p {
                            strong {
                                margin-right: .4rem;
                            }

                            //viewport
                            @include for-viewport-only {
                                @include screenSize(90%, auto);
                            }

                            //mobile
                            @include for-phone-only{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

    }
}