@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.card{
    @include screenSize(100%,auto);
    margin-bottom: 2em;
    //mobile(M)
    @include for-phone-only{
        margin-bottom: 1.2em;
    }
    &__title{
        @include typography(1.4vw, start, 1.3em, 400);
        transition: all .4s linear;
        cursor: pointer;
        //tablet
        @include for-tablet-only{
            font-size: 2vw;
        }
        //mobile(M)
        @include for-phone-only{
            font-size: 2.5vw;
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 4vw;
        }
        &:hover{
            transition: all .4s linear;
            color: $color1;
        }
    }
    &__subtitle{
        @include typography(1.1vw, start, 1.4em, 400);
        margin: .7em 0;
        //tablet
        @include for-tablet-only{
            font-size: 1.5vw;
            margin: .5em 0;
        }
        //mobile(M)
        @include for-phone-only{
            font-size: 2.1vw;
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 3.5vw;
        }
    }
    &__desc{
        @include typography(1vw, start, 1.4em, 300);
        //tablet
        @include for-tablet-only{
            font-size: 1.6vw;
        }
        //mobile(M)
        @include for-phone-only{
            font-size: 2vw;
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 3.2vw;
        }
    }
}