@import "../../../abstract/abstract";

.card {
    @include screenSize(100%, auto);
    margin-bottom: 2em;

    &__title {
        @include titleSm(left);
        margin: .7em 0;
        cursor: pointer;
    }

    &__desc {
        @include text(left)
    }
}