@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100%,auto);
    @include displayFlex(center, center, row);
    @include backgroundImage('/assets/home/bg2.png');
    //viewport
    @include for-viewport-only{
        margin-bottom: -.5em;
    }
    .content{
        @include screenSize(80%,auto);
        @include displayFlex(center, center, column);
        color: $color2;
        &__title{
            @include screenSize(70%,auto);
            padding: 8em 0 3em 0;
            //mobile(M)
            @include for-phone-only{
                @include screenSize(85%,auto);
            }
            h2{
                @include typography(2.9vw,center,1.4em, 600);
                //mobile(M)
                @include for-phone-only{
                    font-size: 6.5vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 42px;
                }
            }
        }
        &__desc{
            @include screenSize(60%,auto);
            //mobile(M)
            @include for-phone-only{
                @include screenSize(80%,auto);
            }
            p{
                @include typography(1.4vw,center,1.4em, 400);
                //mobile(M)
                @include for-phone-only{
                    font-size: 3vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 20px;
                }
            }
        }
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, row);
            padding: 1em 0 2em 0;
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                padding: 1em 0;
            }
        }
    }
}