@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100%,auto);
    @include backgroundImage('/assets/home/bglight.webp');
    @include displayFlex(flex-start, center, column);

    //viewport
    @include for-viewport-only{
        @include screenSize(100%,auto);
    }
    //tablet
    @include for-tablet-only{
        @include screenSize(100%,auto);
    }
    //mobile(M)
    @include for-phone-only{
        @include displayFlex(center, center,column);
        gap: 1.5em;
        flex-wrap: wrap;
    }

    &__wrapper{
        @include screenSize(80%,auto);
        display: grid;
        grid-template: 1fr/ repeat(4,1fr);
        gap: 1%;
        //mobile
        @include for-phone-only{
            grid-template: 1fr/1fr;
            justify-content: center;
            align-items: center;
            gap:0;
        }
    }
    .plans {
        @include screenSize(75%,auto);
        display: grid;
        grid-template: 1fr / repeat(2,1fr);
        margin: 2.5em auto;
        gap: 2em;
        //viewport
        @include for-viewport-only{
            @include screenSize(80%,auto);
        }
        //tablet
        @include for-tablet-only{
            @include screenSize(85%,auto);
        }
        //mobile(M)
        @include for-phone-only{
            @include screenSize(85%,auto);
            @include displayFlex(center, center,column);
            gap: 1.5em;
        }
        //mobile(S)
        @include for-phoneS-only{
            @include screenSize(100%,auto);
        }
    }
    .header {
        @include screenSize(80%,auto);
        @include displayFlex(center, center, row);
        padding-bottom: 0.5em;

        &__logo {
            padding-top: 1.2em;
            padding-left: 0em;
            padding-right: 1em;
            width: 15vw;

            @include for-tablet-only {
                padding: 2em 0 0 0;
            }
        }
        &__title{
            @include screenSize(100%, auto);
            padding: 2em 0em;
            span{
                color: $color1;
            }
            //tablet
            @include for-tablet-only {
                @include screenSize(80%, auto);
                padding-bottom: 1em;
            }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(50%, auto);
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(70%, auto);
            }
            h2 {
                @include typography(2.9vw, start, 1.3em, 700);
                color: $color2;
                //mobile(M)
                @include for-phone-only {
                    font-size: 7vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 11vw;
                }
            }
        }
    }
    .subtitle {
        @include screenSize(80%, auto);
        @include displayFlex(flex-start, center, row);
        // margin: 1em;
        padding-bottom: 3em;
        color: $color4;
        p {
            @include typography(1.8vw, start, 1.3em, 400);
            color: $color3;
        }

        span {
            font-weight: 700;
            color: $color1;
        }
        //mobile
        @include for-phone-only{
            font-size: 3vw;
            padding: 0 1em;
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 18px;
        }
    }

}