@import "../../../../abstract/abstract";

.wrapper {
    @include screenSize(100vw, calc(100vh - $headerHeight));
    @include displayFlex(center, center, column);
    position: relative;

    .content {
        @include screenSize(60%, 100%);

        &__text {
            width: 80%;
            // padding: 10rem 0;
            @include displayFlex(center, flex-start, column);
            gap: 2rem;

            &-title {
                @include titleXL(left);
            }

            &-details {
                @include text(left);
            }

            &-button {
                outline: none;
                border: 5px solid $color1;
                background-color: transparent;
                padding: .8rem 2rem;
                border-radius: 15px;
                font-size: 1.25rem;
                font-weight: bold;
                cursor: pointer;

            }
        }
    }

    .firstLogo {
        position: absolute;
        top: -25rem;
        right: -2rem;
    }

    .secondLogo {
        position: absolute;
        top: 21rem;
        right: 5rem;
    }
}