@use "../../abstract/abstract" as *;

.root {
  color: $color2;
  background-color: $color9;

  @include screenSize(100vw, auto);
  @include displayFlex(center, center, column);

  .content {
    @include screenSize(100%, auto);

    .titleWrapper {
      padding: 2.5em 0;

      @include backgroundImage('/assets/default/banner.webp');
      @include displayFlex(center, center, row);

      //lg
      @include for-lg-only {
        padding: 4em 0;
      }

      &__content {
        max-width: $maxWidthDefault;

        @include containerLayout;

        &-title {
          color: $color1;
          margin-bottom: 2vh;

          @include titleMain(left);
        }

        &-subtitle {
          display: none;

          //lg
          @include for-lg-only {
            display: flex;
            color: $color2;

            @include text(left);

            strong,
            a {
              margin: 0 .5rem;
              color: $color1;
              transition: all .5s ease-in-out;
              cursor: pointer;

              &:hover {
                color: $color7;
                transition: all .5s ease-in;
              }
            }
          }
        }
      }
    }

    .contentWrapper {
      margin: auto;

      @include screenSize(100%, auto);
      @include displayFlex(center, center, column);

      &__spaces {
        padding: 4em 0;
      }
    }
  }
}
