@import "../../abstract/abstract";

.root {
  @include screenSize(100vw, auto);
  @include displayFlex(center, center, column);
  background-color: $color9;
  color: $color2;

  .content {
    @include screenSize(100%, auto);

    .titleWrapper {
      @include backgroundImage($basePath+'/assets/default/banner.webp');
      @include displayFlex(center, center, row);
      padding: 2.5em 0;

      //lg
      @include for-lg-only {
        padding: 4em 0;
      }

      &__content {
        @include containerLayout();
        max-width: $maxWidthDefault;

        &-title {
          @include titleMain(left);
          margin-bottom: 2vh;
          color: $color1;
        }

        &-subtitle {
          display: none;

          //lg
          @include for-lg-only {
            display: flex;
            color: $color2;
            @include text(left);

            strong,
            a {
              margin: 0 .5rem;
              color: $color1;
              cursor: pointer;
              transition: all .5s ease-in-out;

              &:hover {
                color: $color7;
                transition: all .5s ease-in;
              }
            }
          }
        }
      }
    }

    .contentWrapper {
      @include screenSize(100%, auto);
      @include displayFlex(center, center, column);
      margin: auto;

      &__spaces {
        padding: 4em 0;
      }
    }
  }
}