@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content{
    @include screenSize(100%,auto);
    @include displayFlex(center, center, column);
    padding: 0.5em;
    &__title{
        @include displayFlex(flex-start, center, row);
        width: 100%; 
        // background: green;  
        h2{
            @include typography(1.2vw,left,1.3em,500);
            margin-bottom: .5em;
            color: $color10;
            //viewport
            @include for-viewport-only{
               font-size: 1.6vw;
            }
            //tablet(S)
            @include for-tabletS-only{
               font-size: 2.4vw;
            }
            //Mobile(M)
            @include for-phone-only{
               font-size: 18px;
            }
        }
    }
    &__info{
        @include screenSize(100%,135px);
        @include displayFlex(center, flex-start, column);
        color: $color2;
        border-radius: 1vh;
        &::after{
            content:"";
            width: 100%;
            margin:  2vh auto;
            height: .5px;
            background-color: $color5;
        }                    
        &-letterWrapper{
            @include displayFlex(center, flex-start, row);
            width: 100%;
            .left{
                width: 65%;
            }
            .right{
                text-align: right;
                width: 35%;                   
            }
            .center{
                width: 100%;
            }
        }
        
    }
    &__guarantee{
        @include displayFlex(flex-start, flex-start, column);
        width: 100%;
    
        &-item{
            @include displayFlex(flex-start, center, row);
            gap: 0.5vw;
        }
    }
}