@use "../../../../../../abstract/abstract" as *;

.wrapper {
    padding: 2rem .6rem;

    @include screenSize(100vw, auto);
    @include displayFlex(flex-start, center, column-reverse);

    // xl
    @include for-xl-only {
        max-width: $maxWidthDefault;
        margin: auto;
        padding: 2rem 0;

        @include screenSize(100vw, calc(100vh - 80px));
        @include displayFlex(space-between, center, row);
    }

    .content {
        @include screenSize(100%, auto);

        // lg
        @include for-lg-only {
            margin: auto;

            @include screenSize(80%, 100%);
        }

        &__text {
            gap: 2rem;

            @include screenSize(100%, 100%);
            @include displayFlex(center, center, column);

            // xl
            @include for-xl-only {
                align-items: flex-start
            }

            &-title {
                @include titleXL(center);

                // xl
                @include for-xl-only {
                    width: 75%;
                    text-align: left;
                }

                // 2xl
                @include for-2xl-only {
                    width: 85%
                }
            }

            &-details {
                @include text(center);

                //xl
                @include for-xl-only {
                    width: 80%;
                    text-align: left;
                }

                // 2xl
                @include for-2xl-only {
                    width: 85%
                }
            }

            &-button {
                padding: .8rem 2rem;
                font-size: 1.25rem;
                font-weight: bold;
                border: 5px solid $color1;
                background-color: transparent;
                border-radius: 15px;
                cursor: pointer;
                outline: none;

                a {
                    color: $color3 !important;
                }
            }
        }
    }

    .chatImageStyle {
        width: 40vw;
        min-width: 200px;

        // xl
        @include for-xl-only {
            z-index: 0;
            width: 45vw;
            min-width: auto;
            opacity: 1;
        }
    }
}