@use "../../../../abstract/abstract" as *;

.content {
  position: relative;
  padding: 4rem 0;
  background: $color2;

  @include screenSize(100vw, auto);
  @include displayFlex(center, center, row);

  // lg
  @include for-lg-only {
    padding: 8rem 0;
  }

  .banner {
    display: none;

    // md
    @include for-md-only {
      position: absolute;
      z-index: 0;
      width: 100vw;
      height: 100%;
      inset: 0;
    }
  }

  .wrapper {
    max-width: $maxWidthDefault;
    gap: 3rem;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    // lg
    @include for-lg-only {
      gap: 3rem;
    }

    &_title {
      z-index: 2;
      align-self: center;

      @include screenSize(100%, auto);

      span {
        color: $color7;
        background-clip: text;
        background-image: linear-gradient(to bottom, $color7, $color7, $color1);
        -webkit-text-fill-color: transparent;
      }

      h2 {
        color: $color8;

        @include titleMd(center);
      }
    }

    &_cardsWrapper {
      z-index: 2;
      align-self: center;

      @include screenSize(100%, auto);
      @include displayFlex(center, center, row);

      &-cards {
        display: grid;
        padding: 2rem 0;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

        @include screenSize(100%, auto);

        // sm
        @include for-sm-only {
          min-width: auto;
          gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
        }

        // xl
        @include for-xl-only {
          flex-direction: column;
          width: 90vw;
          max-width: $maxWidthDefault;
          gap: 0.5rem;
          grid-template-columns: repeat(4, 1fr);
        }

        .card {
          padding: 3rem 2rem;
          border: 2px solid $color1;
          border-radius: 24px;
          gap: 2rem;

          @include displayFlex(space-between, center, column);
          @include screenSize(100%, auto);
          @include boxShadow2;

          &__icon {
            width: 60px;
            height: auto;

            // md
            @include for-md-only {
              width: 90px;
            }
          }

          &__text {
            // md
            @include for-md-only {
              min-height: 168px;
            }

            p {
              color: $color8;

              @include bodyCard(center);
            }
          }
        }
      }

      &-subtitle {
        z-index: 2;
        gap: 1.5rem;
        padding-bottom: 3em;

        @include screenSize(85%, auto);
        @include displayFlex(center, center, column);

        p {
          color: $color8;

          @include titleMd(center);
        }

        span {
          font-weight: 700;
          color: $color16;
        }
      }
    }

    .button {
      z-index: 2;
      background: $color1;
      border: none;
      transition: all 0.5s ease-in-out;
      border-radius: 10px;
      outline: none;

      @include buttonLayout;
      @include buttonText;
      @include boxShadow2;

      &:hover {
        transition: all 0.5s ease-in;
        transform: scale(1.05);
      }
    }
  }
}
