@use "../../../abstract/abstract" as *;

.wrapper {
    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);

    .content {
        color: $color2;

        @include screenSize(100%, auto);

        //md
        @include for-md-only {
            padding: 2em 0;
        }

        //lg
        @include for-lg-only {
            @include displayFlex(center, center, column);
        }

        &__faqList {
            padding: 2rem 0;

            @include screenSize(100%, auto);

            //lg
            @include for-lg-only {
                width: 90%;
            }
        }
    }
}