@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content{
    @include screenSize(45%,auto);
    @include displayFlex(center, center, column);
    margin: 1em; 
    cursor: pointer;
    opacity: 0.99;
    transition: all .4s linear;
    //viewport
    @include for-viewport-only{
        @include screenSize(90%,auto);
    }
    //mobile(M)
    @include for-phone-only{
        margin: 2em 0;
    }
    &:hover{
        opacity:1;
        filter: brightness(120%);
        transition: all .4s linear;
    }
    &__text{
        @include screenSize(80%,auto);
        @include displayFlex(center, center, column);
        overflow: hidden;
        background-color: $color2; 
        padding-bottom: 2em;
        border-radius: 1.2em;
        //tablet
        @include for-tablet-only{
            @include screenSize(95%,auto);
        }
        //mobile(M)
        @include for-phone-only{
            @include screenSize(100%,auto);
        }
        &-title{
            @include screenSize(100%,auto);
           background: linear-gradient(45deg,$color7,$color1);
            padding: 2em 0;
            h3{
                @include typography(1.8vw,center,1.4em,500);
                color: $color3;
                //mobile(M)
                @include for-phone-only {
                    font-size: 4vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 5vw;
                }
            }
        }
        &-subtitle{
            @include screenSize(100%,auto);
            padding: 1em .7em .7em .7em;
            //mobile(M)
            @include for-phone-only{
                padding: 1.5em .7em .7em .7em;
            }
            h4{
                @include typography(1.5vw,center,1.4em,500);
                color: $color5;
                //tablet
                @include for-tablet-only{
                    font-size: 2vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 4vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 5vw;
                }
            }
        }
        span{
            @include screenSize(50%,2px);
            background-color: $color1;
        }
        &-desc{
            @include screenSize(100%,auto);
            padding: .7em 1em;   
            //viewPort
            @include for-viewport-only{
                padding: .7em 3em; 
            }   
            p{
                @include typography(1.5vw,center,1.4em,500);
                padding: .7em;
                color: $color5;
                //tablet
                @include for-tablet-only{
                    font-size: 2vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 4vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 4.5vw;
                }
            }
        }
        &-price{
            @include screenSize(100%,auto);
            padding: 1em;      
            //mobile(M)
            @include for-phone-only{
                padding: 1.5em 1em; 
            }     
            //mobile(S)
            @include for-phoneS-only{
                padding: 1em; 
            } 
            p{
                @include typography(3vw,center,1.4em,600);
                color: $color4;
                //tablet
                @include for-tablet-only{
                    font-size: 3.5vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 7vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 10vw;
                }
            }
        }
        &-sub{
            @include screenSize(100%,auto);
            padding: 1em;      
            //mobile(M)
            @include for-phone-only{
                padding: 1.5em 1em; 
            }     
            //mobile(S)
            @include for-phoneS-only{
                padding: 1em; 
            } 
            p{
                @include typography(0.8vw, center, 1em, 300);
                color: $color4;
                //tablet
                @include for-tablet-only{
                    font-size: 2vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 4vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 8vw;
                }
            }
        }
    }
}