/** 
*
* pulse animation
*
*
**/

@mixin pulseAnimation() {
  &{
    display: inline-block;
    box-shadow: 0 0 1px transparent;
    transform: perspective(1px) translateZ(0);
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-name: ef-pulse-grow;
    animation-timing-function: linear;
    vertical-align: middle;
  }

  @keyframes ef-pulse-grow {
    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes ef-pulse-grow {
    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}
