/**
EFFECTS
**/

@mixin glassEffect() {
  & {
    background: #091d292d;
    border: 1px solid rgb(255 255 255 / 18%);
    backdrop-filter: blur(13.5px);
    border-radius: 10px;
  }
}

@mixin glassEffectDark() {
  & {
    background: #0611182d;
    border: 1px solid #ffffff2e;
    backdrop-filter: blur(13.5px);
    border-radius: 10px;
  }
}

@mixin cardShadow() {
  &{
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  }
}

@mixin shadowSpecial() {
  &{
    box-shadow:
    rgb(0 0 0 / 9%) 0 2px 1px,
    rgb(0 0 0 / 9%) 0 4px 2px,
    rgb(0 0 0 / 9%) 0 8px 4px,
    rgb(0 0 0 / 9%) 0 16px 8px,
    rgb(0 0 0 / 9%) 0 32px 16px;
  }
}

@mixin boxShadow() {
&{
  box-shadow:
  rgb(0 0 0 / 89.7%) 0 19px 38px,
  rgb(0 0 0 / 69.2%) 0 15px 12px;
}
}

@mixin boxShadow2() {
  & {
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  }
}