/**
EFFECTS
**/

@mixin glassEffect() {
  background: #091d292d;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin glassEffectDark() {
  background: #0611182d;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
}

@mixin cardShadow() {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin shadowSpecial() {
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@mixin boxShadow() {
  box-shadow:
    rgba(0, 0, 0, 0.897) 0px 19px 38px,
    rgba(0, 0, 0, 0.692) 0px 15px 12px;
}

@mixin boxShadow2() {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
