//mixins and functions **

@mixin resetAll {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;

  /* firefox */
}

//reset list
@mixin resetList {
  list-style: none;
}

//reset <a>
@mixin resetLink($color) {
  color: $color;
  text-decoration: none;
}

// screen
@mixin screenSize($width, $height) {
 &{
  width: $width;
  height: $height;
 }
}

//display flex
@mixin displayFlex($jty-cnt, $align-itm, $direction) {
  & {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$jty-cnt};
    align-items: #{$align-itm};
  }
}

//fontSize
@function calculateRem($size) {
  @return calc($size/16px) * 1rem;
}

@mixin fontSize($size) {
  &{
    font-size: calculateRem($size);
  }
}

//placeholder selector
%invisible {
  display: none;
}

%visible {
  display: flex;
}

//Background Image - Cover
@mixin backgroundImage($url) {
  &{
    background-image: url($url);
    background-size: cover;
  }
}

//wrapper
@mixin wrapperCenter($size, $direction) {
 &{
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $size;
  margin: auto;
 }
}

// HEXAGON
@mixin hexagonFactory($width, $height, $backgroundColor) {
 &{
  $halfWidth: $width * 0.5; // Half the width of the hexagon
  $triangleHeight: $halfWidth * tan(30deg); // Height of upper and lower triangles

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height - (2 * $triangleHeight);
  text-align: center;
  background-color: $backgroundColor;

  &::before,
  &::after {
    position: absolute;
    width: 0;
    border-left: $halfWidth solid transparent;
    border-right: $halfWidth solid transparent;
    content: "";
  }

  &::before {
    bottom: 100%;
    border-bottom: $triangleHeight solid $backgroundColor;
  }

  &::after {
    top: 100%;
    border-top: $triangleHeight solid $backgroundColor;
  }
 }
}
