@import "../../../../../../../abstract/abstract";

.field {
    @include screenSize(100vw, auto);
    background-color: $color17;
    padding: 1.5rem 1rem 3rem 1rem;
    border-radius: 5px;
    @include displayFlex(center, center, column);
    gap: 1rem;

    // xl
    @include for-xl-only {
        width: 70%;
        @include displayFlex(center, flex-start, column);
        background-color: transparent;
        padding: 0;
    }

    // 2xl
    @include for-2xl-only {
        width: 75%
    }

    &__label {
        @include text(center);

        // xl
        @include for-xl-only {
            text-align: left;
        }
    }

    ;

    &__actions {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);
        gap: .8rem;
        border: none;
        outline: none;

        // md
        @include for-md-only {
            @include displayFlex(flex-start, center, row);
        }

        .input {
            width: 100%;
            outline: none;
            border: 1px solid $color4;
            padding: .3rem;
            height: 48px;
            border-radius: 5px;
            font-size: 1.1rem;

            &__error {
                border: 1px solid $danger;
            }

            // md
            @include for-md-only {
                height: 56px;
                padding: .8rem;
            }
        }

        .buttonLabel {
            font-size: 1.1rem;
            color: $color3;
            @include displayFlex(center, center, row);
            gap: .5rem
        }
    }

    .errors {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, row);
        color: $danger;
        font-size: .7rem;
        text-align: center;
        margin: 1rem auto;
        align-self: center;

        //md
        @include for-md-only {
            text-align: left;
            margin: auto;
            @include displayFlex(flex-start, center, row);
        }
    }

}