@import "../../../../abstract/abstract";

.guaranteesWrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    margin: 2em 0;
    color: $color10;

    &__text {
        @include screenSize(100%, auto);
        padding: 1em 0 4em 0;

        //md
        @include for-md-only {
            padding: 1em 0 6em 0;
        }

        //xl
        @include for-xl-only {
            @include screenSize(80%, auto);
            padding: 1em 0 6em 0;
        }

        &-info {
            @include titleSm(center);
            color: $color2;

            a {
                color: $color7;
                transition: all .5s ease-in-out;

                &:hover {
                    color: $color1;
                    transition: all .5s ease-in;
                }
            }
        }
    }

    &__cards {
        @include screenSize(100%, auto);
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr;
        justify-content: space-between;

        //md
        @include for-md-only {
            gap: 2rem
        }

        //lg
        @include for-lg-only {
            grid-template: 1fr/repeat(3, 1fr);
            gap: 0;
        }
    }
}