@import"../../abstract/abstract";

.root {
    @include screenSize(100vw, 100vh);
    @include displayFlex(center, center, row);
    background-color: $color3;
    overflow-y: hidden;

    .content {
        @include screenSize(50%, auto);
        @include displayFlex(center, center, column);

        img {
            width: 80%
        }

        &__goBack {
            color: $color1;
            font-size: 45px;
            transition: all .5s ease-out;

            &:hover {
                transform: scale(1.15);
                transition: all .5s ease-in;
            }
        }
    }
}