@import './functions', './responsive', './variables';

@mixin buttonLayout() {
  @include displayFlex(center, center, row);
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0.9em 2em;
  min-width: 200px;

  /* sm */
  @include for-sm-only {
    padding: 0.75rem 1.5rem;
  }

  /* md */
  @include for-md-only {
    padding: 0.875rem 1.75rem;
  }

  /* lg */
  @include for-lg-only {
    padding: 1rem 2rem;
  }

  /* xl */
  @include for-xl-only {
    min-width: 12vw;
    padding: 1.2rem 2.2rem;
  }
}

@mixin labelLayout() {
  padding: 0.625rem 1.25rem;

  /* tablets */
  @include for-tablet-only {
    padding: 0.75rem 1.5rem;
  }

  /* laptops */
  @include for-laptop-only {
    padding: 0.875rem 1.75rem;
  }

  /* large */
  @include for-lg-only {
    padding: 1rem 2rem;
  }
}

@mixin cardLayout() {
  width: 100%;
  margin: 0.625rem;

  /* tablets */
  @include for-tablet-only {
    width: 48%;
    margin: 0.625rem;
  }

  /* laptops */
  @include for-laptop-only {
    width: 30%;
    margin: 0.625rem;
  }

  /* large */
  @include for-lg-only {
    width: 22%;
    margin: 0.625rem;
  }
}

@mixin navbarLogo() {
  width: 3.5rem;

  /* sm */
  @include for-sm-only {
    width: 3.735rem;
  }

  /* md */
  @include for-md-only {
    width: 11.25rem;
  }

  /* large */
  @include for-lg-only {
    width: 12.5rem;
  }

  /* xl */
  @include for-xl-only {
    width: 200px;
  }
}

@mixin footerLogo() {
  width: 14.25rem;
}

@mixin footerIcons() {
  font-size: 2.5rem;

  /* SM */
  @include for-sm-only {
    font-size: 1.75rem;
  }

  /* MD */
  @include for-md-only {
    font-size: 2rem;
  }

  /* LG */
  @include for-lg-only {
    font-size: 2.25rem;
  }
}

// container

@mixin containerLayout(){
  width: 90%;
  min-width: 350px;

  //md
  @include for-md-only{
    width: 80%;
  }

  //lg
  @include for-lg-only{
    width: 85%;
  }
}