@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
//Variables
$color1: #27C0FF;
$color2: #ffffff;
$color3: #000000;
$color4: #000000bb;
$color5: #cdcdcd;
$color6: #f0eaea;
$color7: #07072e;
$color8: #2550DA;

//fonts
$font-text: "Poppins", sans-serif;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
  color6: $color6;
  color7: $color7;
  color8: $color8;
}
