@import "../../../../abstract/abstract";


.formWrapper {
    @include displayFlex(center, center, column);
    @include glassEffect();
    background-color: $color12;
    width: 100%;
    padding: 1vw 1vw;
    border-radius: 15px;
    padding: 1rem;

    .form {
        @include displayFlex(center, center, column);
        width: 100%;
        gap: 1.2vh;

        &__buttonWrapper {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);
        }

        .actions {
            @include displayFlex(center, center, row);
            padding: 2.5rem 0;
        }

        .animation {
            text-align-last: center !important;
        }
    }
}