@import "../../../../abstract/functions", "../../../../abstract/variables", "../../../../abstract/responsive";

.wrapper{
    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/Assets/Faq/bg2.png");
    .content {
        @include screenSize(70%, auto);
        @include displayFlex(center, center, column);
        color: $color2;
        padding: 4em 0;
        //vieport
        @include for-viewport-only{
            padding: 2em 0;
        }
        //tablet(S)
        @include for-tabletS-only{
            @include screenSize(90%, auto);
        }
        //mobile(S)
        @include for-phoneS-only{
            padding: 0;
        }
        &__faqList{
            @include resetList();
            @include screenSize(90%, auto);
            padding: 2vh 0;
            //phone
            @include for-tablet-only {
                @include screenSize(100%, auto);
                padding: 1vh 0;
            }
        }
    }
}