@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    background-color: $color3;
    @include backgroundImage("/assets/home/bg_try.png");
    position: relative;
    padding: 8em 0 2em 0;
    //mobile(M)
    @include for-phone-only {
        padding: 8em 0;
    }
    .container {
        @include screenSize(50%, auto);
        @include displayFlex(center, center, row);
        &__logo {
            padding: 3em 2em;
            width: 10vw;

            @include for-tablet-only {
                padding: 2em 0 0 0;
            }
        }
        

        &__title {
            @include screenSize(80%, auto);
            padding: 3em 0;
            span{
                color: $color1;
            }
            //tablet
            @include for-tablet-only {
                @include screenSize(60%, auto);
                padding-bottom: 3em;
            }
            //mobile(M)
            @include for-phone-only {
                padding: 4em  0;
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(70%, auto);
                padding-bottom: 2.5em;
            }
            h2 {
                @include typography(2.6vw, flex-start, 1.3em, 600);
                color: $color2;

                @include for-tablet-only {
                    @include typography(2.6vw, center, 1.3em, 600);
                }
                //mobile(M)
                @include for-phone-only {
                    @include typography(2.6vw, center, 1.3em, 600);

                    font-size: 7vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 11vw;
                }
            }
        }

        @include for-tablet-only {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, column);
        }
    }
    .content {
        @include screenSize(85%, auto);
        @include displayFlex(center, center, row);
        padding: 3em 0 10em 0;
        //tablet
        @include for-tablet-only {
            padding: 3em 0 8em 0;
        }
        //mobile(M)
        @include for-phone-only {
            padding: 1em 0 4em 0;
            flex-wrap: wrap;
        }
        //mobile(S)
        @include for-phoneS-only {
            padding: 2em 0 5em 0;
        }
    }
}
