@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.card {
    @include screenSize(30%, auto);
    @include displayFlex(center, center, column);
    margin: 1%;
    cursor: pointer;
    opacity: 0.95;
    transition: all 0.5s linear;
    //tablet
    @include for-tablet-only {
        @include screenSize(30%, auto);
        margin: 0.5%;
    }
    //mobile(M)
    @include for-phone-only {
        @include screenSize(75%, auto);
        margin: 1.5em 0;
    }
    //mobile(S)
    @include for-phoneS-only {
        @include screenSize(85%, auto);
        margin: 1em 0;
    }
    &:hover {
        opacity: 1;
        transition: all 0.5s linear;
        filter: brightness(120%);
    }
    &__icon {
        @include screenSize(90%, auto);
        @include displayFlex(center, center, row);
        margin-bottom: -2.1em;
        //viewport
        @include for-viewport-only {
            @include screenSize(80%, 9em);
            margin-bottom: -1.2em;
        }
        //tablet
        @include for-tablet-only {
            @include screenSize(60%, 6em);
            margin-bottom: -1em;
        }
        //mobile(M)
        @include for-phone-only {
            @include screenSize(75%, 10em);
            padding-top: 1em;
            margin-bottom: -1.8em;
        }
        //mobile(XS)
        @include for-phoneXS-only {
            margin-bottom: -2.8em;
        }
        img {
            @include screenSize(80%, 100%);
            //mobile(M)
            @include for-phone-only {
                @include screenSize(75%, auto);
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(70%, auto);
            }
        }
    }
    &__title {
        @include screenSize(100%, 100px);
        @include displayFlex(center, center, row);
        background-color: $color1;
        padding: 2.5em 5em;
        border-radius: 2em 2em 0 0;
        //viewport
        @include for-viewport-only{
            padding: 2em;
            height: 60px; 
        }
        //tablet
        @include for-tablet-only {
            padding: 1em;
            border-radius: 1.2em 1.2em 0 0;
        }
        //mobile(M)
        @include for-phone-only {
            height: auto;
            padding: 1.5em;
            border-radius: 1em 1em 0 0;
        }
        h2 {
            @include typography(1.2vw, center, 1.2em, 600);
            //tablet
            @include for-tablet-only {
                font-size: 1.5vw;
            }
            //mobile(M)
            @include for-phone-only {
                font-size: 25px;
            }
            //mobile(S)
            @include for-phoneS-only {
                font-size: 4vw;
            }
        }
    }
    &__options {
        @include screenSize(100%, auto);
        @include resetList();
        background-color: $color2;
        border-radius: 0 0 2em 2em;
        padding: 5px 0;
        //tablet
        @include for-tablet-only {
            padding: 10px 0;
            border-radius: 0 0 1.2em 1.2em;
        }
        //mobile(M)
        @include for-phone-only {
            padding-top: 10px;
            border-radius: 0 0 1em 1em;
        }
        &-item {
            @include screenSize(100%, 160px);
            @include displayFlex(center, center, column);
            padding: 0 0.5em;
            //viewport
            @include for-viewport-only {
                height: 120px;
                padding: 0 1em;
            }
            //tablet
            @include for-tablet-only {
                height: 3.8em;
                padding: 0 0.5em;
            }
            //mobile(M)
            @include for-phone-only {
                height: auto;
            }

            &::after {
                content: "";
                width: 40%;
                height: 2px;
                background-color: $color1;
                //mobile(M)
                @include for-phone-only {
                    height: 1px;
                }
            }

            &:last-child {
                &::after {
                    content: "";
                    width: 40%;
                    height: 2px;
                    display: none;
                }
            }
            h3 {
                @include typography(1vw, center, 1.2em, 600);
                //tablet
                @include for-tablet-only {
                    padding-top: .5em;
                    font-size: 1.2vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 18px;
                    padding-top: .5em;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 3.8vw;
                }
            }
            p {
                @include typography(0.8vw, center, 1.3em, 300);
                padding: 2em 1.4em;
                //tablet
                @include for-tablet-only {
                    padding: 0.8em 1.5em ;
                    font-size: .9vw;
                }
                //mobile(M)
                @include for-phone-only {
                    font-size: 14px;
                    padding: 1em 2em;
                } 
                //mobile(S)
                @include for-phoneS-only {
                    @include typography(11px, center, 1.2em, 300);
                }
            }
        }
    }
}
