@use "../../../../../abstract/abstract" as *;

.card {
    margin: .5em;
    padding: 1.5em 0;
    border: 1px solid $color4;
    border-radius: .9em;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    //lg
    @include for-lg-only {
        flex-direction: row;
        padding: 2em 0;
        border: none
    }

    &__icon {
        padding: 0.2em;
        font-size: 10vw;
        color: $color1;
        align-self: flex-start;

        @include screenSize(100%, 100%);
        @include displayFlex(center, center, row);

        // lg
        @include for-lg-only {
            width: 10%;
            font-size: 60px;
            ;
        }
    }

    &__details {
        padding: 1em 1.2em;

        @include screenSize(90%, auto);

        &-title {
            margin-bottom: 0.7em;

            @include titleCard(center);

            //lg
            @include for-lg-only {
                @include titleCard(left);
            }
        }

        &-desc {
            @include bodyCard(center);

            //lg
            @include for-lg-only {
                @include bodyCard(left);
            }
        }
    }
}