@use "../../../../abstract/abstract" as *;
.firstSection {
    min-height: 70vh;
    padding: 10rem 0;
    background-position-x: 100%;
    margin-top: -.5rem;

    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/assets/governance/banner1-mobile.png");

    //md
    @include for-md-only {
        margin-top: -1rem;
    }

    // lg
    @include for-lg-only {
        @include backgroundImage("/assets/governance/banner1.png");
    }

    // xl
    @include for-xl-only {
        min-height: 95vh;

        @include displayFlex(flex-start, center, row);
    }

    //2xl
    @include for-2xl-only {
        min-height: 88vh;
    }

    &__content {
        gap: 2rem;

        @include containerLayout;
        @include displayFlex(center, center, column);

        //lg
        @include for-lg-only {
            @include displayFlex(center, flex-start, column);
        }

        //xl
        @include for-xl-only {
            margin: auto;
        }

        //2xl
        @include for-2xl-only {
            max-width: $maxWidthDefault;
        }

        &-title {
            color: $color1;

            @include titleMain(center);

            //lg
            @include for-lg-only {
                max-width: 60%;

                @include titleMd(left);
            }

            //xl
            @include for-xl-only {
                max-width: 55%;

                @include titleMain(left);
            }

            //2xl
            @include for-2xl-only {
                max-width: 800px;
            }
        }

        &-subtitle {
            @include titleSm(center);

            //lg
            @include for-lg-only {
                max-width: 65%;

                @include text(left);
            }

            //xl
            @include for-xl-only {
                max-width: 60%;

                @include titleSm(left);
            }

            //2xl
            @include for-2xl-only {
                max-width: 50%;
            }

            strong {
                color: $color1;
            }
        }
    }
}