@use "../../../abstract/abstract" as *;

.content {
  color: $color10;
  @include screenSize(100%, auto);

  h2 {
    margin: 0.7em 0;
    color: $color2;
    @include titleMd(left);
    & {
      @include screenSize(100%, auto);
    }
  }

  h3 {
    margin: 1.5em 0 0.7em;
    color: $color2;
    @include titleSm(left);
  }

  p {
    margin: 0.5em 0;
    @include text(left);
  }

  a {
    color: $color7;
    transition: all 0.4s linear;
    cursor: pointer;

    &:hover {
      color: $color1;
      transition: all 0.4s linear;
    }
  }
}
