@use "../../../abstract/abstract" as *;

.content {
    padding: 1em 0 10em;
    background-color: $color9;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    &__image {
        @include screenSize(25%, auto);
        @include displayFlex(center, center, row);

        &-img {
            @include screenSize(100%, auto);
            @include pulseAnimation;
        }
    }

    &__details {
        margin-top: 4em;

        p {
            color: $color2;

            @include typography(1.2vw, center, 1.5em, 400);
        }
    }

    &__buttonWrapper {
        margin-top: 3em;

        @include screenSize(50%, auto);
        @include displayFlex(space-around, center, row);
    }
}