@import "../../../abstract/abstract";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(column, flex-start, column);

    .title {
        @include titleSm(left);
        cursor: pointer;
        margin: 1.2em 0 .8em 0;
    }

    .details {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, row);
        padding: 1rem 0;

        //lg
        @include for-lg-only {
            margin-top: 1.2em;
            padding: 2em 0.5em;
            border: 2px solid $color4;
            border-radius: .8em;
        }

        &__list {
            @include screenSize(100%, auto);
            @include displayFlex(center, flex-start, column);
            flex-wrap: nowrap;
            margin: auto;

            //lg
            @include for-lg-only {
                @include screenSize(97%, auto);
                @include displayFlex(center, center, row);
                flex-wrap: wrap;
            }

            &-item {
                width: 90%;
                @include text(left);

                //lg
                @include for-lg-only {
                    width: 50%;
                    padding: .2em 1em;
                }

                span {
                    color: $color1;
                    margin-right: .2em;
                }
            }
        }
    }
}