@import '/abstract/functions','/abstract/responsive','/abstract/variables';

.divider{
    fill: #111111;
    width: 100%; 
    height: 35px;
     transform: scaleX(-1);
     position: absolute;
     top: -.5%;
     //mobile
     @include for-phone-only{
        top: -.04%;
     }
}