@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/assets/home/bg2.png");
    padding: 6em 0 8em 0;
    //tablet
    @include for-tablet-only{
     padding: 3em 0 4em 0;
     }
    &__contentWrapper {
        @include screenSize(80%, auto);
        @include displayFlex(center, center, row-reverse);
        //viewport
        @include for-viewport-only{
            @include screenSize(90%, auto);
        }
        //mobile
        @include for-phone-only{
            @include screenSize(95%, auto);
            @include displayFlex(center, center, column-reverse);
        }
       &-text{
        @include screenSize(55%, auto);
        @include displayFlex(center, center, column);
        padding-top: 2em;
        //mobile(M)
        @include for-phone-only{
            @include screenSize(70%, auto);
            padding: 0em;
        }
        .title {
            @include screenSize(80%, auto);
            //tablet
            @include for-tablet-only {
                padding: 6em 0 0 0;
            }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(100%, auto);
                padding: 2em 0;
            }
            h2 {
                @include typography(2.8vw, start, 1.3em, 400);
                color: $color2;
                //mobile(M)
                @include for-phone-only {
                    font-size: 6.5vw;
                    text-align: center;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 9vw;
                }
            }
        }
        .details {
            @include screenSize(80%, auto);
            @include displayFlex(center, flex-start, column);
            padding-top: 4em;
            //tablet
            @include for-tablet-only{
                padding: 1.8em 0;
                }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(75%, auto);
                padding: 1em 0;
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(95%, auto);
                padding: .5em 0;
            }
            &__text {
                p {
                    @include typography(1.2vw, start, 1.5em, 300);
                    color: $color2;
                    //viewport
                    @include for-viewport-only{
                        @include screenSize(90%, auto);
                        font-size: 1.3vw;
                    }
                    //mobile(M)
                    @include for-phone-only {
                        @include typography(18px, center, 1.4em, 300);
                    }
                    //mobile(S)
                    @include for-phoneS-only {
                        font-size: 16px;
                    }
                }
            }
            &__buttonWrapper {
                width: 100%;
                @include displayFlex(flex-start, center, row);
                margin-top: 4em;
                //tablet
                @include for-tablet-only{
                    margin-top: 2em;
                }
                //mobile(M)
                @include for-phone-only{
                    @include displayFlex(center, center, row);
                }
            }
        }
    }
    &-image {
        @include screenSize(45%, 50%);
        @include displayFlex(center, center, row);
        padding: 4.5em 0 1em 0;
        //mobile(M)
        @include for-phone-only{
            @include screenSize(70%, auto);
            padding: 3em 0;
        }
        .image{
            @include screenSize(100%, auto);
            //mobile(M)
            @include for-phone-only{
                width: 90%;
            }
        }
       }
    }
}
