@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/assets/home/bg2.webp");
    margin-top: 108px;

    padding: 1.5em 0 5em 0;

    //tablet
    @include for-tablet-only {
        padding: 0 0 3.5em 0;
    }

    &_contentWrapper {
        @include screenSize(80%, auto);
        @include displayFlex(space-between, center, row-reverse);
        padding: 4rem 0;

        //tablet(S)
        @include for-tabletS-only {
            @include displayFlex(center, center, column-reverse);
        }

        &-text {
            @include screenSize(40%, auto);
            @include displayFlex(center, flex-end, column);
            padding-top: 2em;

            //tablet
            @include for-tablet-only {
                @include displayFlex(center, center, column);
                padding: 0em;
            }

            //tablet(S)
            @include for-tabletS-only {
                @include displayFlex(center, center, column);
                @include screenSize(80%, auto);
                padding: 0em;
            }

            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(90%, auto);
            }

            .title {
                @include screenSize(100%, auto);
                margin: auto;

                //tablet
                @include for-tablet-only {
                    padding: 6em 0 0 0;
                }

                //tablet(S)
                @include for-tabletS-only {
                    @include screenSize(100%, auto);
                    padding: 2em 0;
                }

                h2 {

                    @include typography($titleMain, end, 1.3em, 400);
                    color: $color2;

                    strong {
                        display: block;
                    }

                    //viewPort
                    @include for-viewport-only {
                        font-size: 3rem;
                    }

                    //tablet
                    @include for-tablet-only {
                        font-size: 2.5rem;
                    }

                    //tablet(S)
                    @include for-tabletS-only {
                        font-size: 2.5rem;
                        text-align: center;
                    }

                    //mobile(S)
                    @include for-phoneS-only {
                        font-size: 2.3rem;
                    }
                }
            }

            .details {
                @include screenSize(90%, auto);
                @include displayFlex(center, flex-start, column);
                padding-top: 3em;

                //tablet
                @include for-tablet-only {
                    padding: 1.8em 0;
                }

                //tablet(S)
                @include for-tabletS-only {
                    @include screenSize(100%, auto);
                    @include displayFlex(center, center, column);
                    padding: 1em 0;
                }

                //mobile(S)
                @include for-phoneS-only {
                    @include screenSize(100%, auto);
                    padding: .5em 0;
                }

                &_text {
                    @include screenSize(100%, auto);
                    @include displayFlex(flex-start, center, row);

                    //viewport
                    @include for-viewport-only {
                        @include displayFlex(flex-end, center, row);
                    }

                    p {
                        @include typography($text, end, 1.5em, 300);
                        color: $color2;

                        strong {
                            color: $color1;
                        }

                        //viewport
                        @include for-viewport-only {
                            @include screenSize(90%, auto);
                            font-size: 1.3vw;
                        }

                        //tablet(S)
                        @include for-tabletS-only {
                            @include typography(1.4rem, center, 1.4em, 300);
                        }

                        //mobile(S)
                        @include for-phoneS-only {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        &-image {
            @include screenSize(60%, 100%);
            @include displayFlex(center, center, row);
            padding: 1em 0 1em 0;

            //tablet(S)
            @include for-tabletS-only {
                @include screenSize(90%, auto);
                padding: 2em 0 1em 0;
            }

            .image {
                @include screenSize(100%, 600px);
                border-radius: 8px;
                @include shadowSpecial();

                //viewPort
                @include for-viewport-only {
                    height: 450px;
                }

                //tablet
                @include for-tablet-only {
                    height: 25rem;
                }

                //mobile(S)
                @include for-phoneS-only {
                    width: 90vw;
                    height: 350px;
                }
            }
        }
    }
}