@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/assets/home/bg2.webp");
    margin-top: 108px;

    padding: 1.5em 0 5em 0;

    //tablet
    @include for-tablet-only {
        padding: 0 0 3.5em 0;
    }

    &_contentWrapper {
        @include screenSize(80%, auto);
        @include displayFlex(space-between, center, row-reverse);
        padding: 4rem 0;
        gap: 1.8rem;
        max-width: $wrapperDesktop;

        //tablet
        @include for-tablet-only {
            @include displayFlex(center, center, column-reverse);
            gap: .5rem;
        }

        &-text {
            @include screenSize(45%, auto);
            @include displayFlex(center, flex-end, column);

            //viewport
            @include for-viewport-only {
                @include screenSize(50%, 100%);
            }

            //tablet
            @include for-tablet-only {
                @include screenSize(100%, auto);
                @include displayFlex(center, center, column);
                padding-top: 0;
            }

            //tablet(S)
            @include for-tabletS-only {
                @include screenSize(80%, auto);
                padding: 0em;
            }

            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(90%, auto);
            }

            .title {
                @include screenSize(100%, auto);
                margin: auto;

                //tablet
                @include for-tablet-only {
                    @include screenSize(100%, auto);
                    padding: 3em 0;
                }

                //tablet(S)
                @include for-tabletS-only {
                    @include screenSize(100%, auto);
                    padding: 2em 0;
                }

                h2 {

                    @include titleMain(end);
                    color: $color2;

                    // //tablet
                    // @include for-tablet-only {
                    //     font-size: 3rem;
                    //     text-align: center;
                    // }

                    // //mobile(S)
                    // @include for-phoneS-only {
                    //     font-size: 2.8rem;
                    // }
                }
            }

            .details {
                @include screenSize(90%, auto);
                @include displayFlex(center, flex-start, column);
                padding-top: 3em;

                //tablet
                @include for-tablet-only {
                    @include screenSize(70%, auto);
                    @include displayFlex(center, center, column);
                    padding: 1em 0;
                }

                //tablet(S)
                @include for-tabletS-only {
                    @include screenSize(90%, auto);
                }

                //mobile(S)
                @include for-phoneS-only {
                    @include screenSize(100%, auto);
                    padding: .5em 0;
                }

                &_text {
                    @include screenSize(100%, auto);
                    @include displayFlex(flex-start, center, row);

                    //viewport
                    @include for-viewport-only {
                        @include displayFlex(flex-end, center, row);
                    }

                    //tablet
                    @include for-tablet-only {
                        @include displayFlex(center, center, row);
                    }

                    p {
                        @include textDefault(end);
                        color: $color2;

                        strong {
                            color: $color1;
                        }

                        //viewport
                        @include for-viewport-only {
                            @include screenSize(90%, auto);
                        }

                        //tablet
                        @include for-tablet-only {
                            width: 100%;
                            // text-align: center;
                        }

                        // //mobile(S)
                        // @include for-phoneS-only {
                        //     font-size: 1.35rem;
                        // }
                    }
                }
            }
        }

        &-image {
            @include screenSize(60%, 100%);
            @include displayFlex(center, center, row);
            padding: 1em 0 1em 0;

            //viewport
            @include for-viewport-only {
                @include screenSize(50%, 100%);
            }

            //tablet
            @include for-tablet-only {
                @include screenSize(90%, auto);
                padding: 2em 0 1em 0;
            }

            .image {
                @include screenSize(100%, auto);
                border-radius: 8px;
                @include shadowSpecial();
                min-height: 381px;

                //tablet
                @include for-tablet-only {
                    max-width: 45rem;
                }

                //tabletS
                @include for-tabletS-only {
                    max-width: auto;
                }

                //mobile(S)
                @include for-phoneS-only {
                    width: 90vw;
                }
            }
        }
    }
}