@import "/abstract/functions", "/abstract/responsive", "/abstract/variables";

.card {
  @include screenSize(auto, auto);
  @include displayFlex(flex-start, center, column);
  margin: 1em;
  //mobile(S)
  @include for-phoneS-only {
    border: 0.01em solid $color10;
    border-radius: 0.5em;
    padding: 2em;
  }
  &__image {
    @include screenSize(10vw, auto);
    opacity: 0.8;
    //tablet
    @include for-tablet-only {
      width: 12vw;
    }
    //mobile(M)
    @include for-phone-only {
      width: 15vw;
    }
    //mobile(S)
    @include for-phoneS-only {
      width: 30vw;
    }
  }
  &__title {
    @include typography(1vw, center, auto, 500);
    margin: 1.5em auto;
    //tablet
    @include for-tablet-only {
      font-size: 1.4vw;
    }
    //mobile(M)
    @include for-phone-only {
      font-size: 1.6vw;
    }
    //mobile(S)
    @include for-phoneS-only {
      font-size: 17px;
    }
  }
  &__desc {
    @include typography(0.9vw, center, auto, 400);
    //tablet
    @include for-tablet-only {
      font-size: 1.2vw;
    }
    //mobile(M)
    @include for-phone-only {
      font-size: 1.5vw;
    }
    //mobile(S)
    @include for-phoneS-only {
      font-size: 15px;
    }
  }
}
