@use "../../../abstract/abstract" as *;

.root {
    position: relative;

    @include displayFlex(center, center, row);

    .button {
        font-size: 25px;
        color: $color2;
        transition: all .5s ease-in;
        border-radius: 1px;
        cursor: pointer;
        outline: none;

        @include screenSize(50px, 50px);
        @include displayFlex(center, center, row);
        @include glassEffectDark;

        &:hover {
            color: $color1;
            opacity: 0.9;
            transition: all .5s ease-in-out;
        }
    }

    .dropdown {
        position: absolute;
        top: 101%;
        left: 55%;
        padding: .3rem;
        background: #070707;
        border: 1px solid #ffffff2e;
        transition: all .5s linear;
        border-radius: 0 5px 5px;

        @include screenSize(90px, auto);


        &__list {
            width: 100%;
            gap: .5rem;

            @include displayFlex(center, flex-start, column);

            &-item {
                padding: 0 .2rem;
                font-size: 18px;
                color: $color2;
                transition: all .5s ease-in-out;
                background-color: $color3;
                border-radius: 3px;
                cursor: pointer;
                gap: .8rem;

                @include screenSize(100%, 32px);
                @include displayFlex(center, center, row);

                &:hover {
                    transition: all .5s ease-in;
                    background-color: $color4;
                }
            }
        }
    }
}