@import "../../../abstract/abstract";

.firstSection {
    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);
    @include backgroundImage("/assets/governance/banner1-mobile.png");
    background-position-x: 100%;
    padding: 10rem 0;
    min-height: 70vh;
    margin-top: -.5rem;

    //md
    @include for-md-only {
        margin-top: -1rem;
    }

    // lg
    @include for-lg-only {
        @include backgroundImage("/assets/governance/banner1.png");
    }

    // xl
    @include for-xl-only {
        @include displayFlex(flex-start, center, row);
        min-height: 95vh;
    }

    //2xl
    @include for-2xl-only {
        min-height: 88vh;
    }

    &__content {
        @include containerLayout();
        @include displayFlex(center, center, column);
        gap: 2rem;

        //lg
        @include for-lg-only {
            @include displayFlex(center, flex-start, column);
        }

        //xl
        @include for-xl-only {
            margin: auto;
        }

        //2xl
        @include for-2xl-only {
            max-width: $maxWidthDefault;
        }

        &-title {
            @include titleMain(center);
            color: $color1;

            //lg
            @include for-lg-only {
                max-width: 60%;
                @include titleMd(left);
            }

            //xl
            @include for-xl-only {
                @include titleMain(left);
                max-width: 55%;
            }

            //2xl
            @include for-2xl-only {
                max-width: 800px;
            }
        }

        &-subtitle {
            @include titleSm(center);

            strong {
                color: $color1;
            }

            //lg
            @include for-lg-only {
                max-width: 65%;
                @include text(left);
            }

            //xl
            @include for-xl-only {
                @include titleSm(left);
                max-width: 60%;
            }

            //2xl
            @include for-2xl-only {
                max-width: 50%;
            }
        }
    }
}