@use "../../abstract/abstract" as *;

.root {
    background-color: $color3;
    overflow-y: hidden;

    @include screenSize(100vw, 100vh);
    @include displayFlex(center, center, row);

    .content {
        gap: 2rem;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        &__img {
            width: 100%;
            max-width: 380px;

            //xl
            @include for-xl-only {
                max-width: 580px;
            }
        }

        &__goBack {
            font-size: 45px;
            color: $color1;
            transition: all .5s ease-out;

            &:hover {
                transition: all .5s ease-in;
                transform: scale(1.15);
            }
        }
    }
}