@use "../../../abstract/abstract" as *;

.footer {
    background-color: $color3;
    padding-top: 15vh;

    @include screenSize(100vw, auto);
    @include displayFlex(center, center, column);

    a {
        color: $color2;
        transition: all .5s linear;

        &:visited {
            color: $color2;
        }

        &:hover {
            color: $color1;
            transition: all .5s ease-in-out;
        }

        &:active {
            color: $color1;
        }
    }

    .content {
        color: $color2;
        padding-bottom: 5vh;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        // XL
        @include for-xl-only {
            @include displayFlex(space-between, center, row);
        }

        &__logoAndSocial {
            position: relative;

            @include screenSize(100%, 100%);
            @include displayFlex(center, center, column);

            // XL
            @include for-xl-only {
                @include screenSize(auto, 100%);
                @include displayFlex(center, flex-start, column);
            }

            .logo {
                @include footerLogo;
            }

            .items {
                max-width: 200px;

                @include screenSize(35vw, auto);
                @include displayFlex(center, center, row);

                // SM
                @include for-sm-only {
                    width: 30vw;
                }

                // MD
                @include for-md-only {
                    width: 16vw;
                }

                // xl
                @include for-xl-only {
                    width: auto;
                    margin: auto;
                }

                li {
                    cursor: pointer;

                    @include displayFlex(center, center, row);
                    @include screenSize(100%, auto);
                    @include footerIcons;

                    a {
                        color: $color1;
                        transition: all .5s linear;
                        vertical-align: middle;

                        &:hover {
                            color: $color10;
                            transition: all .5s linear;
                        }
                    }
                }
            }
        }

        &__details {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, column);

            //XL
            @include for-xl-only {
                @include screenSize(60%, auto);
            }

            &-lists {
                margin-top: 4rem;

                @include screenSize(100%, auto);
                @include displayFlex(center, center, column);

                //xl
                @include for-xl-only {
                    @include displayFlex(space-between, flex-start, row);
                }

                ul {
                    margin: .6em 0;

                    @include screenSize(100%, auto);
                    @include displayFlex(center, center, column);

                    //xl
                    @include for-xl-only {
                        margin: 1em 0;

                        @include screenSize(33.3%, auto);
                    }

                    li {
                        opacity: .9;
                        transition: all .5s ease-in-out;
                        cursor: pointer;

                        @include footerText('flex-end');

                        &:hover {
                            color: $color1;
                            transition: all .5s ease-in;
                        }

                        span {
                            color: #FFF;
                            opacity: 1;
                        }

                        a {
                            color: $color10;
                        }
                    }
                }
            }
        }
    }

    &__copy {
        padding: 3vh 0;
        color: $color2;
        border-top: 1px solid $color8;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        p {
            @include footerText("center");
        }
    }
}