@use "../../../../abstract/abstract" as *;

.planTable {
  position: relative;

  @include screenSize(100%, auto);
  @include displayFlex(center, center, column);
  @include glassEffect;

  //lg
  @include for-lg-only {
    @include screenSize(100%, 100%);
    @include displayFlex(flex-start, center, column);
  }

  &__title {
    padding-top: 4em;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);

    &-title {
      @include titleMd(center);

      //sm
      @include for-sm-only {
        @include titleMain(center)
      }
    }
  }

  &__subtitle {
    @include screenSize(90%, 200px);
    @include displayFlex(center, center, column);

    &-subtitle {
      @include text(center);

      strong {
        color: $color1;
      }
    }
  }

  &__button {
    min-height: auto;
    border-top: 1px solid $color7;
    padding-bottom: 2em;

    @include screenSize(80%, auto);
    @include displayFlex(space-around, center, column);

    //md
    @include for-md-only {
      height: 15rem;
    }

    //lg
    @include for-lg-only {
      min-height: 18em;
    }

    &-label {
      padding: 2em 0;

      @include screenSize(100%, auto);
      @include displayFlex(center, center, column);

      // lg
      @include for-lg-only {
        padding: 2em 0;
      }

      p {
        @include text(center);
      }

      span {
        color: $color2;
        text-decoration: none;

        @include titleSm(center);

        p {
          color: $color17;
          text-decoration: none;

          @include text(center);
        }
      }

      h2 {
        text-align: center;
      }
    }
  }

  &__list {
    padding: 3em 0;
    border-top: 1px solid $color7;

    @include resetList;
    @include screenSize(80%, auto);

    li {
      padding: 0.5em 0;

      @include text(left);

      span {
        font-size: 1rem;
        color: $color5;
        margin-right: 0.4em;
      }

      strong {
        color: $color1
      }

      .sublist {
        @include resetList;
      }
    }
  }
}