@use "../../../../../abstract/abstract" as *;

.wrapper {
    position: relative;
    z-index: 99;
    background-color: $color3;

    @include screenSize(100vw, auto);
    @include displayFlex(center, center, row);

    a {
        color: $color2;
        transition: all 0.5s linear;

        &:visited {
            color: $color2;
        }

        &:hover {
            color: $color1;
            transition: all 0.5s ease-in-out;
        }

        &:active {
            color: $color1;
        }
    }

    .content {
        z-index: 999;
        padding: .5rem 0;
        transition: all .5s ease-in;

        @include screenSize(100%, 80px);
        @include displayFlex(space-between, center, row);

        &__logo {
            position: relative;

            .logo {
                display: none;

                //md
                @include for-md-only {
                    display: flex;
                    max-width: 206px;

                    @include navbarLogo;
                }
            }

            .logoMobile {
                @include navbarLogo;

                //md
                @include for-md-only {
                    display: none
                }
            }
        }

        &__contactUs {
            color: white;

            a {
                cursor: pointer;

                @include textNavbar;

                &:hover {
                    color: $color2 !important;
                }

                &::before {
                    font-weight: bold;
                    color: $color1;
                    content: "{";
                }

                &::after {
                    font-weight: bold;
                    color: $color1;
                    content: "}";
                }
            }
        }
    }

}