@use "../../../../abstract/abstract" as *;

.card {
    margin-bottom: 2em;

    @include screenSize(100%, auto);

    &__title {
        margin: .7em 0;
        cursor: pointer;

        @include titleSm(left);
    }

    &__desc {
        @include text(left)
    }
}