@use "../../../../abstract/abstract" as *;

.item {
    padding: 1.5vh 2vw;
    color: $color2;
    transition: all .5s ease-in-out;
    border-radius: .8em;
    cursor: pointer;
    margin-bottom: 2vh;

    @include displayFlex(space-between, center, column);
    @include glassEffectDark;

    // lg
    @include for-lg-only {
        border-radius: 1.5rem;
    }


    &__title {
        width: 100%;

        @include displayFlex(space-between, center, row);
    }

    &__active {
        opacity: 1.1;
    }

    p {
        width: 90%;

        @include faqTitle;
    }


    button {
        font-size: 7vw;
        color: $color1;
        border: none;
        background-color: $color9;
        cursor: pointer;
        outline: none;

        @include screenSize(10%, 60px);
        @include displayFlex(center, center, row);

        // lg
        @include for-lg-only {
            @include screenSize(40px, 40px);
        }

        // XL
        @include for-xl-only {
            font-size: 4rem;
        }
    }

    .cardAnswer {
        color: $color10;
        opacity: 1;
        transition: all .2s ease-in-out;

        @include screenSize(80%, 100px);
        @include faqBody;


        //xl
        @include for-xl-only {
            @include screenSize(100%, 120px);
        }

        &__reset {
            opacity: 0;
            transition: all .2s ease-in-out;
        }

    }

    .hide {
        height: 0;
        overflow: hidden;
        transition: all .5s ease-in;
    }

    .show {
        padding: 1em 0;
        transition: all .5s ease-in-out;

        @include screenSize(100%, 100%);
        @include displayFlex(flex-start, center, row);

        //xl
        @include for-xl-only {
            height: auto;
        }
    }
}