@use "../../../../abstract/abstract" as *;

.content {
  gap: 3rem;
  margin-top: 2rem;

  @include screenSize(100%, auto);
  @include displayFlex(center, center, column);

  &__titleWrapper {
    gap: 2rem;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    //lg
    @include for-lg-only {
      @include displayFlex(flex-start, center, row);
    }

    .awsMarketplaceLogo {
      width: 20rem;
      padding: 1.5rem;

      @include glassEffect;
    }

    .awsTitle {
      color: $color1;

      @include titleMain(center);

      //lg
      @include for-lg-only {
        @include titleMain(center);
      }
    }
  }

  &__awsSubtitle {
    width: 100%;
    margin: 1.5rem 0;

    p {
      color: $color2;

      @include titleSm(center);

      //lg
      @include for-lg-only {
        @include titleSm(left)
      }
    }
  }

  &__awsCards {
    gap: 2rem;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
  }

}