@import '/abstract/functions', '/abstract/responsive','/abstract/variables';

.container {
    @include screenSize(100%, auto);
    @include backgroundImage('/assets/home/banner.svg');
    @include displayFlex(center, center, row);
    padding: 10rem 0 6rem 0;
    margin-bottom: -.5rem;

    // mobile
    @include for-phone-only{
        padding: 5rem 0;
        @include backgroundImage('/assets/home/banner-mobile.png');
        background-position-x: 10% 
    }

    &__content {
        @include screenSize(80%, auto);
        @include displayFlex(space-between, center, row);
        padding: 6rem 0;
        gap: 2rem;
        max-width: $wrapperDesktop;

        // tablet
        @include for-tablet-only{
            @include displayFlex(space-between, center, column-reverse);
            gap: 3.5rem;
        }

        // mobile (S)
        @include for-phoneS-only{
            padding: 6rem 0 3rem 0;
        }

       .textContent{
        width: 50%;
        @include displayFlex(center, flex-start, column);

        //tablet
        @include for-tablet-only {
            @include screenSize(60%, auto);
            @include displayFlex(center, center, column);
            padding-top: 0;
        }

        // tablet(S)
        @include for-tabletS-only {
            width: 70%
        }

        // mobile
        @include for-phone-only {
            width: 80%
        }

        &__title{
            @include screenSize(100%, auto);
            max-width: 1028px;
            h2 {
                @include titleMain(start);
                color: $color2;
                strong{
                    color: $color1
                }
            }
        };
        &__description{
            @include screenSize(100%, auto);
            @include displayFlex(center, flex-start, column);
            padding: 2em .5rem;
            p {
                @include textDefault(start);
                color: $color2;
            }
        };
        &__buttonGroup{
            @include screenSize(100%, auto);
            @include displayFlex(flex-start, center, row);
            gap: 1rem;

            // mobile
            @include for-phone-only{
                flex-direction: column;
            }
        }
       };
       .imageWrapper{
        width: 50%;
        @include displayFlex(center, center, row);

        // tablet
        @include for-tablet-only{
            width: 70%;
        }

        // tablet(S)
        @include for-tabletS-only {
            width: 80%
        }

        // mobile
        @include for-phone-only {
            width: 90%
        }

        // mobile (S)
        @include for-phoneS-only {
            width: 100%
        }

        .image{
          width: 45vw;

          // tablet
          @include for-tablet-only{
            width: 100%;
           }

           // mobile(S)
          @include for-phoneS-only{
            width: 90vw;
          }
        }
       }
    }
}