@import "/abstract/functions", "/abstract/responsive", "/abstract/variables";

.card{
    @include screenSize(100%,auto);
    padding: 2.5rem;
    @include glassEffect();
    border-radius: 15px;
    display: grid;
    grid-template: 100% / 20% 75%;
    align-items: center;
    justify-content: space-between;
    min-width: 1290px;
   // viewport
    @include for-viewport-only{
        width: 78vw;
        min-width: 1080px;
        grid-template: 100% / 20% 80%;
        gap: 1.5rem;
    }
    // tablet
    @include for-tablet-only{
        gap:0;
        width: 95vw;
        min-width: 980px;
        align-items: start;
    }
    // tabletS
    @include for-tabletS-only{
        width: 100%;
        height: 100%;
        min-width: 200px;
        grid-template: auto / 100%;
        padding: 3rem 2rem;
    }
    // mobile
    @include for-phone-only{
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    // mobileS
    @include for-phoneS-only{
        width: 90vw;
    }

    &__image{
        width: 90%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
        // viewport
        @include for-viewport-only{
            width: 100%;
        }

        @include for-tablet-only{
            width: 90%;
        }
        // tabletS
        @include for-tabletS-only{
            margin: auto;
            width: 250px;
            height: auto;
        }
        // mobile
        @include for-phone-only{
            width: 200px;
        }
    }

    &__body{
        width: 100%;
        height: 100%;
        @include displayFlex(space-between,flex-start,column);
        // tablet
        @include for-tablet-only{
            gap:1.5rem;
        }
        .bodyText{
            @include textDefault(start);
            @include typography(1.3rem,start,1.3em,400);
            // viewport
            @include for-viewport-only{
                font-size: 1.15rem;
            }
            // tablet
            @include for-tablet-only{
                font-size: 1rem;
               }
            // tabletS
            @include for-tabletS-only{
                min-height: 300px;
                @include displayFlex(center,center,row)
            }
            // mobile
            @include for-phone-only{
                min-height: auto;
            }
            
        }
        .footer{
            @include screenSize(100%,auto);
            gap: 2rem;
            @include displayFlex(flex-start,center,row);
            @include textDefault(start);
            color: $color1;
            // viewport
            @include for-viewport-only{
                align-self: center;
                font-size: 1.18rem;
            }

            @include for-tabletS-only{
                @include displayFlex(center,center,column);
                gap: 0;
                p{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}