@use "../../../../../abstract/abstract" as *;
.card {
  margin: 1em;

  @include screenSize(auto, auto);
  @include displayFlex(flex-start, center, column);

  &__image {
    max-width: 160px;
    opacity: 0.8;

    @include screenSize(30vw, auto);

    //md
    @include for-md-only {
      width: 12vw
    }

    // lg
    @include for-lg-only {
      width: 10vw;
    }
  }

  &__title {
    margin: 1.5em auto;

    @include titleSm(center);
  }

  &__desc {
    @include text(center);
  }
}