@import"../../../abstract/abstract";



.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    //lg
    @include for-lg-only {
        @include displayFlex(space-between, flex-start, row);
    }

    .text {
        @include screenSize(100%, auto);
        @include displayFlex(flex-start, center, column);
        padding: 2em 0;

        // lg
        @include for-lg-only {
            @include screenSize(40%, auto);
            padding: 0rem 0 2rem 0;
        }

        strong {
            color: $color1;
        }

        &__header {
            margin: 1rem 0;

            // lg
            @include for-lg-only {
                margin: 2rem 0 1.5rem 0;
            }

            h2 {
                @include titleMain(center);
                color: $color2;

                // lg
                @include for-lg-only {
                    text-align: left;
                }
            }
        }

        &__resume {
            display: none;

            //lg
            @include for-lg-only {
                @include displayFlex(flex-start, flex-start, column);
                margin: 1.2em .5em 1.5em 0;
            }

            p {
                @include text(start);
                color: $color2;
            }
        }
    }

    &__options {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);
        padding: 1em 0 6em 0;

        //lg
        @include for-lg-only {
            @include screenSize(50%, auto);
        }

        //xl
        @include for-xl-only {
            @include screenSize(45%, auto);
            padding: 2em 0 4em 0;
        }
    }
}