@use "../../../abstract/abstract" as *;

.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    //lg
    @include for-lg-only {
        @include displayFlex(space-between, flex-start, row);
    }

    .text {
        padding: 2em 0;

        @include screenSize(100%, auto);
        @include displayFlex(flex-start, center, column);

        // lg
        @include for-lg-only {
            padding: 0 0 2rem;

            @include screenSize(40%, auto);
        }

        strong {
            color: $color1;
        }

        &__header {
            margin: 1rem 0;

            // lg
            @include for-lg-only {
                margin: 2rem 0 1.5rem;
            }

            h2 {
                color: $color2;

                @include titleMain(center);

                // lg
                @include for-lg-only {
                    text-align: left;
                }
            }
        }

        &__resume {
            display: none;

            //lg
            @include for-lg-only {
                margin: 1.2em .5em 1.5em 0;

                @include displayFlex(flex-start, flex-start, column);
            }

            p {
                color: $color2;

                @include text(start);
            }
        }
    }

    &__options {
        padding: 1em 0 6em;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        //lg
        @include for-lg-only {
            @include screenSize(50%, auto);
        }

        //xl
        @include for-xl-only {
            padding: 2em 0 4em;

            @include screenSize(45%, auto);
        }
    }
}