@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.banner {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    background: $color1;
    padding: 4em 0;
    &__container {
        @include screenSize(50%, auto);
        @include displayFlex(center, center, row);
        //mobile(M)
        @include for-phone-only {
            @include screenSize(80%, auto);
        }
        //mobile(S)
        @include for-phoneS-only {
            @include screenSize(100%, auto);
        }
        .left {
            @include screenSize(20%, auto);
            //mobile(XS)
            @include for-phoneXS-only {
                @include screenSize(50%, auto);
            }
            img {
                width: 100%;
            }
        }
        .text {
            @include screenSize(60%, auto);
            @include displayFlex(center, center, column);
            //mobile(S)
            @include for-phoneS-only{
                @include screenSize(80%, auto);
            }
            &__title {
                @include screenSize(65%, auto);
                @include displayFlex(center, center, row);
                padding: 1em 0.3em;
                //mobile(M)
                @include for-phone-only {
                    @include screenSize(95%, auto);
                }
                //mobile(S)
                @include for-phoneS-only {
                    @include screenSize(100%, auto);
                    padding: 0.5em 0.3em;
                }
                //mobile(XS)
                @include for-phoneXS-only {
                    @include screenSize(65vw, auto);
                }
                h2 {
                    @include typography(2.3vw, center, 1.3em, 600);
                    //mobile(M)
                    @include for-phone-only {
                        @include typography(5.5vw, center, 1.2em, 600);
                    }
                    //mobile(S)
                    @include for-phoneS-only {
                        font-size: 8vw;
                    }
                    //mobile(XS)
                    @include for-phoneXS-only {
                        font-size: 20px;
                    }
                }
            }
            p {
                @include typography(1.4vw, center, 1.3em, 300);
                margin: 0.5em 0;
                //mobile(M)
                @include for-phone-only {
                    font-size: 3vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 4vw;
                }
                //mobile(XS)
                @include for-phoneXS-only {
                    font-size: 14px;
                }
            }
        }
        .right {
            @include screenSize(20%, auto);
            //mobile(XS)
            @include for-phoneXS-only {
                @include screenSize(50%, auto);
            }

            img {
                width: 100%;
            }
        }
    }
}