@import "../../../abstract/abstract";

.cards {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    padding: 2em 0;

    //lg
    @include for-lg-only {
        padding: 4em 0 3em 0;
    }

    .title {
        @include titleSm(left);
        cursor: pointer;
    }
}