@use "../../../abstract/abstract" as *;

.root {
    gap: 1rem;
    margin-bottom: 2rem;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    //lg
    @include for-lg-only {
        gap: 6rem;
    }
}