@use "../../../abstract/abstract" as *;

.back {
    font-size: 3rem;
    color: $color7;
    transition: all .5s linear;
    cursor: pointer;
    padding-bottom: 2em;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);

    &:hover {
        color: $color1;
        transition: all .5s linear;
        transform: scale(1.05);
    }

    a {
        &:link {
            color: $color1;
        }

        &:active {
            color: $color1;
        }

        &:visited {
            color: $color1;
        }
    }

}