@import "../../../abstract/abstract";

.cardItem {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    gap: 2rem;
    border: 1px solid $color4;
    border-radius: 1em;
    padding: 3em;

    //lg
    @include for-lg-only {
        @include displayFlex(center, flex-start, row);
        border: none;
        padding: 0;
    }

    a {
        color: $color5;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color1;
            transition: all .3s ease-in-out;
        }

        &:active {
            color: $color1;
        }

        &:visited {
            color: $color1;
        }
    }

    &__image {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        // lg
        @include for-lg-only {
            @include screenSize(15%, auto);
            @include displayFlex(flex-start, center, row);
        }

        img {
            @include screenSize(30%, auto);
            max-width: 120px;

            // sm
            @include for-sm-only {
                @include screenSize(40%, auto);
            }

            // lg
            @include for-lg-only {
                @include screenSize(100%, auto);
                max-width: auto;
            }
        }
    }

    &__details {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);
        gap: 2rem;

        //lg
        @include for-lg-only {
            @include displayFlex(center, flex-start, column);
        }

        //xl
        @include for-xl-only {
            @include screenSize(85%, auto);
        }

        &-title {
            @include screenSize(100%, auto);
            @include titleCard(center);

            //lg
            @include for-lg-only {
                @include titleSm(left);
            }
        }

        &-text {
            @include screenSize(100%, auto);

            p {
                @include bodyCard(center);

                // lg
                @include for-lg-only {
                    @include text(left);
                }

                &:first-child {
                    margin-bottom: .5em;
                }

            }
        }
    }
}