@use "../../abstract/abstract" as *;

.root {
    position: absolute;
    top: 80px;
    right: 0;
    padding: .8rem;
    transition: all .5s ease-in-out;
    border-radius: 10px 5px 10px 10px;
    gap: 1rem;

    @include screenSize(100vw, 70px);
    @include displayFlex('flex-start', 'center', 'row');

    // md
    @include for-md-only {
        @include screenSize(600px, 70px);
    }
}

.hide {
    transition: all .5s ease-in-out;
    margin-right: -100vw;

    // md
    @include for-md-only {
        margin-right: -600px;
    }
}

.show {
    transition: all .5s ease-in;
    margin-right: 0;

    // md
    @include for-md-only {
        margin-right: 1px;
    }
}

.success {
    background: $success;
}

.error {
    color: $danger;
    background: $dangerBg;
}