@use "../../../../abstract/abstract" as *;

.wrapper {
    padding: 1em 0 2em;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);

    .content {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        &__title {
            cursor: pointer;
            margin-bottom: .7em;

            @include titleSm(left);
        }

        &__desc {
            @include text(center);

            //lg
            @include for-lg-only {
                @include text(left);
            }

            a {
                font-weight: 600;
                color: $color7;
                transition: all .4s linear;

                &:hover {
                    color: $color1;
                    transition: all .4s linear;
                }
            }
        }
    }
}