@use "../../../abstract/abstract" as *;


.content {
    color: $color2;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);

    &__options {
        padding: 1em 0;

        @include displayFlex(center, center, column);
        @include screenSize(95%, auto);

        // md
        @include for-md-only {
            @include screenSize(90%, auto);
        }


        //lg
        @include for-lg-only {
            padding: 1em 0;

            @include screenSize(100%, auto);
            @include displayFlex(space-evenly, flex-start, row);
        }

        &-decoration {
            display: none;

            // lg
            @include for-lg-only {
                max-width: 50%;

                @include displayFlex(center, center, column);
            }

            img {
                width: 100%;

                @include pulseAnimation;
            }
        }

        &-formWraper {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);

            //md
            @include for-md-only {
                width: 80%;
            }

            // lg
            @include for-lg-only {
                @include screenSize(40%, auto);
            }
        }
    }

    &__faq {
        margin: 8em 0 0;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        h1 {
            color: $color1;
            margin-bottom: 2vh;

            @include titleMd(center);
        }

        h2 {
            display: none;

            //sm
            @include for-sm-only {
                display: flex;
                color: $color2;

                @include titleSm(center);
            }

        }
    }

}