@import "../../../abstract/abstract";


.content {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    color: $color2;

    &__options {
        @include displayFlex(center, center, column);
        @include screenSize(95%, auto);
        padding: 1em 0;

        // md
        @include for-md-only {
            @include screenSize(90%, auto);
        }


        //lg
        @include for-lg-only {
            @include screenSize(100%, auto);
            @include displayFlex(space-evenly, flex-start, row);
            padding: 1em 0 1em 0;
        }

        &-decoration {
            display: none;

            // lg
            @include for-lg-only {
                @include displayFlex(center, center, column);
                max-width: 50%;
            }

            img {
                width: 100%;
                @include pulseAnimation();
            }
        }

        &-formWraper {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);

            //md
            @include for-md-only {
                width: 80%;
            }

            // lg
            @include for-lg-only {
                @include screenSize(40%, auto);
            }
        }
    }

    &__faq {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);
        margin: 8em 0 0 0;

        h1 {
            @include titleMd(center);
            margin-bottom: 2vh;
            color: $color1;
        }

        h2 {
            display: none;

            //sm
            @include for-sm-only {
                display: flex;
                color: $color2;
                @include titleSm(center);
            }

        }
    }

}