@use "../../../../abstract/abstract" as *;

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(column, flex-start, column);

    .title {
        margin: 1.2em 0 .8em;
        cursor: pointer;

        @include titleSm(left);
    }

    .details {
        padding: 1rem 0;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, row);

        //lg
        @include for-lg-only {
            padding: 2em 0.5em;
            border: 2px solid $color4;
            border-radius: .8em;
            margin-top: 1.2em;
        }

        &__list {
            flex-wrap: nowrap;
            margin: auto;

            @include screenSize(100%, auto);
            @include displayFlex(center, flex-start, column);

            //lg
            @include for-lg-only {
                flex-wrap: wrap;

                @include screenSize(97%, auto);
                @include displayFlex(center, center, row);
            }

            &-item {
                width: 90%;

                @include text(left);

                //lg
                @include for-lg-only {
                    width: 50%;
                    padding: .2em 1em;
                }

                span {
                    color: $color1;
                    margin-right: .2em;
                }
            }
        }
    }
}