@use "../../../abstract/abstract" as *;

.wrapper {
  position: relative;
  z-index: 99;
  background-color: $color3;

  @include screenSize(100vw, auto);
  @include displayFlex(center, center, row);

  a {
    color: $color2;
    transition: all 0.5s linear;

    &:visited {
      color: $color2;
    }

    &:hover {
      color: $color1;
      transition: all 0.5s ease-in-out;
    }

    &:active {
      color: $color1;
    }
  }

  &__fixedHeader {
    position: fixed;
    top: 0;
  }

  .content {
    z-index: 999;
    padding: .5rem 0;
    transition: all .5s ease-in;

    @include screenSize(100%, 80px);
    @include displayFlex(space-between, center, row);

    &__logo {
      position: relative;

      .logo {
        display: none;

        //lg
        @include for-lg-only {
          display: flex;
          max-width: 210px;

          @include navbarLogo;
        }

        //xl
        @include for-xl-only {
          max-width: 280px
        }
      }

      .logoMobile {
        max-width: 60px;

        @include navbarLogo;

        //md
        @include for-lg-only {
          display: none
        }
      }
    }

    .nav {
      display: none;

      //xl
      @include for-xl-only {
        @include screenSize(100%, auto);
        @include displayFlex(flex-end, center, row);

        &__options {
          margin: 0 1em;

          // md
          @include for-md-only {
            margin: 0 1em;
          }

          h2 {
            opacity: 1;
            cursor: pointer;

            @include textNavbar;
          }
        }

        // &__buyButton {
        // margin-left: 1em;
        // position: absolute;
        // right: 4vw;

        // @include for-phone-only {
        //   display: none;
        // }
      }
    }

    .mobileButton {
      display: flex;
      padding: .5rem;
      font-size: 2rem;
      color: $color2;
      background: transparent;
      ;
      border: none;
      cursor: pointer;
      outline: none;

      //xl
      @include for-xl-only {
        display: none
      }
    }
  }

}


.menuMobile {
  position: fixed;
  top: 0;
  z-index: 9999999999;
  color: $color2;
  transition: all .5s ease-in;
  background-color: $color9;
  margin-left: 0;
  margin-top: 80px;

  @include screenSize(100vw, 100vh);

  //md
  @include for-md-only {
    max-width: 600px;

    @include screenSize(80vw, 100vh);
  }

  //xl
  @include for-xl-only {
    display: none;
  }

  &__item {
    margin: .5rem auto;
    background: $color20;
    border-radius: 10px;
    cursor: pointer;

    @include screenSize(95%, 56px);
    @include displayFlex(flex-start, center, row);

    a {
      padding: 0 .8rem;
      border-radius: 10px;

      @include screenSize(100%, 100%);
      @include displayFlex(flex-start, center, row);
      @include textNavbar;
    }
  }
}

.menuMobileHide {
  @extend .menuMobile;

  transition: all .5s ease-in-out;
  margin-left: -1100vw;
}