@use "../../../abstract/abstract" as *;

.formWrapper {
    padding: 1em;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    @include displayFlex(center, center, column);
    @include glassEffect;

    // //mobile(S)
    // @include for-phoneS-only{
    //     width: 85vw;
    // }

    .form {
        width: 100%;
        gap: 1.2vh;

        @include displayFlex(center, center, column);

        &__buttonWrapper {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);
        }

        &__checkboxWrapper {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin: 1vh;
            flex-flow: row wrap;
            gap: 0.1vh;

            h1 {
                width: 100%;
            }
        }
    }

}