@import "../../../abstract/abstract";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    padding: 1em 0 2em 0;

    .content {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, column);

        &__title {
            @include titleSm(left);
            margin-bottom: .7em;
            cursor: pointer;
        }

        &__desc {
            @include text(center);

            //lg
            @include for-lg-only {
                @include text(left);
            }

            a {
                color: $color7;
                font-weight: 600;
                transition: all .4s linear;

                &:hover {
                    transition: all .4s linear;
                    color: $color1;
                }
            }
        }
    }
}