@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100vw, auto);
    padding: 8em 0 12em 0;
    @include backgroundImage('/assets/home/bglight.webp');
    @include displayFlex(center, center, column);
    position: relative;

    //mobile
    @include for-phone-only {
        padding: 8em 0;
    }

    &__title {
        @include screenSize(100%, auto);
        padding-bottom: 2.5em;

        span {
            color: $color16;
        }

        //tablet
        @include for-tablet-only {
            @include screenSize(80%, auto);
            padding-bottom: 1em;
        }

        //mobile(M)
        @include for-phone-only {
            @include screenSize(50%, auto);
        }

        //mobile(S)
        @include for-phoneS-only {
            @include screenSize(70%, auto);
        }

        h2 {
            @include typography(2.8vw, center, 1.3em, 600);
            color: $color9;

            //mobile(M)
            @include for-phone-only {
                font-size: 7vw;
            }

            //mobile(S)
            @include for-phoneS-only {
                font-size: 11vw;
            }
        }
    }



    &__wrapper {
        @include screenSize(80vw, auto);
        @include displayFlex(center, center, row);

        // tablet
        @include for-tablet-only {
            @include displayFlex(center, center, column);
        }

        //mobile
        @include for-phone-only {
            grid-template: 1fr/1fr;
            justify-content: center;
            align-items: center;
            gap: 0;
        }

        &-subtitle {
            @include screenSize(50%, auto);
            margin: 1em;
            padding-bottom: 3em;

            p {
                @include typography(1.8vw, start, auto, 500);
                color: $color4;

                @include for-tablet-only {
                    @include typography(2vw, center, auto, 500);
                }

                @include for-phone-only {
                    font-size: 5vw;
                }
            }

            span {
                font-weight: 700;
                color: $color16;
            }

            // tablet
            @include for-tablet-only {
                @include screenSize(80%, auto);

            }

            //mobile
            @include for-phone-only {
                @include screenSize(100%, auto);

                font-size: 3vw;
                padding: 0 1em;
                padding-bottom: 2em;
            }

            //mobile(S)
            @include for-phoneS-only {
                font-size: 18px;
            }
        }

        &-cards {
            @include displayFlex(center, center, column);
            @include screenSize(100%, auto);

            @include for-tablet-only {
                @include screenSize(100%, auto);
                @include displayFlex(center, center, column);
            }
        }

    }


    .card {
        @include displayFlex(space-between, center, row);
        @include screenSize(90%, auto);
        padding: 1em;
        margin: 1.5em .8em;
        background: #f5f5f5;
        border-radius: 24px;
        border: 2px solid transparent;
        filter: drop-shadow(5px 5px 4px #808080);

        @include for-tablet-only {
            @include displayFlex(space-between, center, row);
            @include screenSize(80%, auto);
        }

        @include for-phone-only {
            @include displayFlex(space-between, center, column-reverse);
            @include screenSize(100%, auto);

        }

        @include for-phoneS-only {}

        @include for-phoneXS-only {}

        &__item {
            @include screenSize(30%, auto);
            @include displayFlex(flex-start, center, column);

            @include for-phone-only {}

            img {
                width: 4vw;

                @include for-tablet-only {
                    width: 6vw;
                }

                @include for-phone-only {
                    display: none;
                }
            }

            &-btn {
                @include displayFlex(center, center, row);
                outline: none;
                margin-top: 0.3em;
                padding: 0.9em 1em;
                font-size: 1vw;
                border-radius: 1.5em;
                border: 2px solid $color1;
                color: $color3;
                cursor: pointer;
                font-weight: 600;
                background: $color1;
                transition: all 0.5s linear;
                min-width: 8vw;

                &:hover:not([disabled]) {
                    background: transparent;
                    color: $color1;
                    transition: all 0.4s linear;
                    font-weight: 800;
                    -webkit-transform: scale(0.8);
                    transform: scale(0.8);
                }

                @include for-tablet-only {
                    margin-top: .8em;
                    min-width: 10vw;
                }

                //mobile(M)
                @include for-phone-only {
                    font-size: 1em;
                    margin: 0.5em;
                    min-width: 50vw;
                    border-radius: 1.1em;
                }

                //mobile(S)
                @include for-phoneS-only {
                    font-size: .9em;
                    margin: 0.8em 0;
                    min-width: 60vw;
                    border-radius: 1.3em;
                }
            }

        }

        &__desc {
            @include screenSize(65%, auto);
            @include displayFlex(flex-start, center, row);

            @include for-phone-only {
                @include screenSize(80%, auto);
            }

            @include for-phoneS-only {
                @include screenSize(90%, auto);
            }

            p {
                @include for-phone-only {
                    @include screenSize(100%, auto);
                    @include typography(4vw, center, auto, 400);
                    padding: 1em 0;
                }

                @include for-phoneS-only {
                    font-size: 4.8vw;
                }

                @include for-phoneXS-only {
                    font-size: 6vw;
                }
            }

        }
    }
}