@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content {
    @include screenSize(100vw, auto);
    padding: 10em 0 12em 0;
    // background: $color13;
    // @include backgroundImage('/assets/home/bglight.webp');
    @include backgroundImage('/assets/home/freeToolbg.jpg');
    @include displayFlex(center, center, column);
    position: relative;
    //mobile
    @include for-phone-only{
         padding: 8em 0;
    }
    &__title{
            @include screenSize(100%, auto);
            padding-bottom: 0.5em;
            span{
                color: $color1;
            }
            //tablet
            @include for-tablet-only {
                @include screenSize(80%, auto);
                padding-bottom: 1em;
            }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(50%, auto);
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(70%, auto);
            }
            h2 {
                @include typography(2.8vw, center, 1.3em, 600);
                color: $color2;
                //mobile(M)
                @include for-phone-only {
                    font-size: 7vw;
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 11vw;
                }
        }
    }
    &__subtitle {
        @include screenSize(80%, auto);
        margin: 1em;
        padding-bottom: 3em;
        color: $color4;
        p {
            @include typography(1.5vw,center,auto,400);
            color: $color2;
        }

        span {
            font-weight: 700;
            color: $color1;
        }
        //mobile
        @include for-phone-only{
            font-size: 3vw;
            padding: 0 1em;
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 18px;
        }
    }
    &__wrapper{
        @include screenSize(80%,auto);
        display: grid;
        grid-template: 1fr/ repeat(4,1fr);
        gap: 1%;
        //mobile
        @include for-phone-only{
            grid-template: 1fr/1fr;
            justify-content: center;
            align-items: center;
            gap:0;
        }
    }
}