@use "../../../../abstract/abstract" as *;

.root {
    position: relative;
    padding: 2rem 0;
    background: $color3;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);

    // lg
    @include for-lg-only {
        padding: 3rem 0 5rem;
    }

    .banner {
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 100%;
        inset: 0;
    }


    .content {
        padding: 2rem 0 4rem;
        gap: .5rem;

        @include screenSize(100%, auto);
        @include displayFlex(center, center, column-reverse);

        //md
        @include for-md-only {
            padding: 4rem 0;
        }

        //lg
        @include for-lg-only {
            gap: 1.8rem;

            @include displayFlex(space-between, center, row-reverse);
        }

        //xl
        @include for-xl-only {
            max-width: $maxWidthDefault;
        }

        &__text {
            z-index: 2;
            padding: 0;

            @include screenSize(100%, auto);
            @include displayFlex(center, center, column);

            //lg
            @include for-lg-only {
                @include screenSize(45%, auto);
                @include displayFlex(center, flex-end, column);
            }

            .title {
                margin: auto;

                @include screenSize(100%, auto);

                h2 {
                    color: $color2;

                    @include titleMain(center);

                    //lg
                    @include for-lg-only {
                        @include titleMain(end);
                    }
                }
            }

            .details {
                padding: 1em 0;

                @include screenSize(100%, auto);
                @include displayFlex(center, center, column);

                // lg
                @include for-lg-only {
                    padding-top: 3em;

                    @include screenSize(98%, auto);
                    @include displayFlex(center, flex-start, column);
                }

                &_text {
                    @include screenSize(100%, auto);
                    @include displayFlex(center, center, row);

                    //lg
                    @include for-lg-only {
                        @include displayFlex(flex-start, center, row);
                    }

                    p {
                        color: $color2;

                        @include text(center);

                        // lg
                        @include for-lg-only {
                            @include text(end);
                        }

                        strong {
                            color: $color1;
                        }

                    }
                }
            }
        }

        &__image {
            position: relative;
            padding: 2em 0 1em;

            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);

            // lg
            @include for-lg-only {
                padding: 1em 0;

                @include screenSize(60%, 100%);
                @include displayFlex(center, center, row);
            }

            .image {
                max-width: 45rem;
                border-radius: 8px;
                object-fit: cover;
                object-position: 0%;

                @include screenSize(90%, auto);
                @include shadowSpecial;

                // lg
                @include for-lg-only {
                    min-height: 350px;

                    @include screenSize(100%, auto);
                }
            }
        }
    }
}