@import "../../../../abstract/abstract";

.cards {
    background-color: $color2;
    width: 100vw;
    color: $color3;
    padding: 4rem 0;

    //2xl
    @include for-2xl-only {
        padding: 6rem 0;
    }

    .gridCards {
        display: none;

        // lg
        @include for-lg-only {
            width: 100vw;
            padding: 2rem 0;
            margin-top: 2rem;
            position: relative;
            display: grid;
            grid-template: auto / repeat(7, 1fr);
            gap: 1rem;
            color: $color2;
            margin-left: 0;
        }

        //xl
        @include for-xl-only {
            margin-top: 4rem;
            margin-left: -8rem;
        }

        //2xl
        @include for-2xl-only {
            margin-left: .8rem;
        }

        .cardGreen {
            @include hexagonFactory(267px, 327px, $color1);

            //xl
            @include for-xl-only {
                @include hexagonFactory(367px, 427px, $color1);
            }

            //2xl
            @include for-2xl-only {
                @include hexagonFactory(447px, 507px, $color1);
            }
        }

        .cardBlack {
            @include hexagonFactory(267px, 327px, $color3);

            //xl
            @include for-xl-only {
                @include hexagonFactory(367px, 427px, $color3);
            }

            //2xl
            @include for-2xl-only {
                @include hexagonFactory(447px, 507px, $color3);
            }
        }

        .cardGrey {
            @include hexagonFactory(267px, 327px, $color4);

            //xl
            @include for-xl-only {
                @include hexagonFactory(367px, 427px, $color4);
            }

            //2xl
            @include for-2xl-only {
                @include hexagonFactory(447px, 507px, $color4);
            }
        }

        .cardIcon {
            width: 55%;
        }

        .cardText {
            width: 100%;
            @include text(center);

            //xl
            @include for-xl-only {
                width: 65%;
            }
        }
    }

    .gridCardsContinuos {
        @extend .gridCards;
        margin-left: -9rem;
        margin-top: 2rem;
        padding-bottom: 4rem;

        //xl
        @include for-xl-only {
            margin-left: -20rem;
            margin-top: 3.5rem;
            padding-bottom: 5rem;
        }

        //2xl
        @include for-2xl-only {
            margin-left: -14.2rem;
            margin-top: 5.5rem;
            padding-bottom: 6.5rem;
        }
    }

    .cardsMobile {
        @include containerLayout();
        @include displayFlex(center, center, column);
        margin: auto;
        gap: 2rem;

        //lg
        @include for-lg-only {
            display: none;
        }

        .card {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, column);
            gap: 1rem;
            color: $color2;

            &__icon {
                width: 50%;
                max-width: 120px;
            }

            &__label {
                background-color: $color3;
                padding: 2rem;
                border-radius: 10px;

                p {
                    @include titleCard(center)
                }
            }
        }
    }
}