@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";
  //textSlide
  .textSlide{
    display: inline-flex;
     height: 60px;
     margin-left: .21em;
     overflow: hidden;
     //Mobile(M)
     @include for-phone-only{
        width: 95%;
        display: block;
     }
        .textSlideWrapper{
            height: 100%;
            -webkit-animation-name: move;
            animation-name: move;
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction:alternate;
            animation-direction: alternate;
            @-webkit-keyframes move {
                25%{
                    transform: translateY(0px);
                }
                50%{
                    transform: translateY(-60px);
                }
                75%{
                    transform: translateY(-120px);
                }
                100%{
                    transform: translateY(-180px);
                }
              }
              @keyframes move {
                25%{
                    transform: translateY(0px);
                }
                50%{
                    transform: translateY(-60px);
                }
                75%{
                    transform: translateY(-120px);
                }
                100%{
                    transform: translateY(-180px);
                }
              }
            &__item{
                @include screenSize(100%,60px);
                @include displayFlex(flex-start, center, row);
                    //mobile(M)
                    @include for-phone-only{
                        @include displayFlex(center, center, row);
                    }
                img{
                    @include screenSize(2vw,auto);
                    margin-right: .06em;
                    //mobile(M)
                    @include for-phone-only{
                        @include screenSize(5.5vw,auto);
                    }
                    //Mobile(S)
                    @include for-phoneS-only{
                        @include screenSize(8.5vw,auto);
                    }
                }
                p{
                    font-size: 2.22vw;
                    color: $color1;
                    font-weight: bold;
                    //mobile(M)
                    @include for-phone-only{
                        font-size: 5.5vw;
                    }
                    //Mobile(S)
                    @include for-phoneS-only{
                        font-size: 8.5vw;
                    }
                }
            }
        }
   }