@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    background-color: $color2;
    color: $color3;
    .optimizationContent {
        @include screenSize(100%, auto);
        @include displayFlex(center, center, row);
        //mobile(M)
        @include for-phone-only {
            @include displayFlex(center, center, column-reverse);
        }
        &__desc {
            @include screenSize(50%, 100%);
            @include displayFlex(space-evenly, center, row);
            padding-left: 2%;
            //mobile(M)
            @include for-phone-only {
                @include displayFlex(center, center, row);
                @include screenSize(80%, 100%);
                padding: 3em 0;
            }
            .desc {
                @include screenSize(67%, auto);
                //mobile(M)
                @include for-phone-only{
                    @include screenSize(80%, auto);
                    @include displayFlex(center, center, column);
                }
                //phone(S)
                @include for-phoneS-only {
                    @include screenSize(95%, auto);
                }
                &__title {
                    @include screenSize(95%, auto);
                    padding: 1em 0 .5em 0;
                    //tablet
                    @include for-tablet-only {
                        padding: 0.5em 0;
                    }
                    //mobile(M)
                    @include for-phone-only {
                        @include screenSize(80%, auto);
                    }
                    h2 {
                        @include typography(2.2vw, start, 1.3em, 500);
                        //phone(M)
                        @include for-phone-only {
                            @include typography(6.5vw, center, 1.2em, 500);
                        }
                        //phone(S)
                        @include for-phoneS-only {
                            font-size: 9vw;
                        }
                    }
                }
                &__list {
                    @include screenSize(100%, auto);
                    list-style-position: inside;
                    padding: 1em 0;
                    //tablet
                    @include for-tablet-only {
                        padding: 0.7em 0;
                    }
                    //mobile(M)
                    @include for-phone-only {
                        @include screenSize(95%, auto);
                        padding: 1.5em 0 0 0;
                    }
                    //mobile(S)
                    @include for-phoneS-only {
                        @include screenSize(85%, auto);
                    }
                    li {
                        @include typography(1.1vw, start, 1.3em, 300);
                        padding: .5em 0 .5em 0;
                        color: $color4;
                        //mobile(M)
                        @include for-phone-only {
                            @include typography(3vw,center, 1.5em, 400);
                        }
                        //mobile(S)
                        @include for-phoneS-only{
                            font-size: 4vw;
                        }
                    }
                }
                &__buttonWrapper {
                    @include screenSize(85%, auto);
                    @include displayFlex(space-between, center, row);
                    //mobile(M)
                    @include for-phone-only {
                        @include screenSize(100%, auto);
                        @include displayFlex(center, center, column);
                        padding-top: 1.2em;
                    }
                }
            }
        }
        &__image {
            @include screenSize(50%, auto);
            //mobile(M)
            @include for-phone-only {
                @include screenSize(100%, 50%);
            }
            img {
                width: 100%;
                //phone(M)
                @include for-phone-only {
                    @include screenSize(100%, 100%);
                }
            }
        }
    }
    .supportContent {
        @include screenSize(100%, auto);
        @include displayFlex(space-between, center, row-reverse);
        margin-top: -0.5em;
        //mobile(M)
        @include for-phone-only {
            margin-top: 0;
            @include displayFlex(center, center, column-reverse);
        }
        &__desc {
            @include screenSize(50%, 100%);
            @include displayFlex(flex-start, center, row);
            //mobile(M)
            @include for-phone-only {
                @include screenSize(80%, 100%);
                @include displayFlex(center, center, row);
                padding: 3em 0;
            }
            .desc {
                @include screenSize(80%, auto);
                //mobile
                @include for-phone-only{
                    @include displayFlex(center, center, column);
                }
                //phone(S)
                @include for-phoneS-only {
                    @include screenSize(95%, auto);
                }
                &__title {
                    @include screenSize(100%, auto);
                    padding: 1em 0;
                    //tablet
                    @include for-tablet-only {
                        padding: 0.5em 0;
                    }
                    //mobile(M)
                    @include for-phone-only {
                        @include screenSize(95%, auto);
                        padding: 1em 0;
                    }
                    h2 {
                        @include typography(2.2vw, end, 1.3em, 500);
                        //phone(M)
                        @include for-phone-only {
                            @include typography(6.5vw, center, 1.2em, 500);
                        }
                        //phone(S)
                        @include for-phoneS-only {
                            font-size: 9vw;
                        }
                    }
                }
                &__text {
                     //mobile(M)
                    @include for-phone-only{
                     @include screenSize(85%,auto);
                     text-align: center;
                     }
                     //mobile(S)
                    @include for-phoneS-only{
                        @include screenSize(90%,auto);
                        align-self: flex-start;
                        }
                    p {
                        @include typography(1.1vw, end, 1.5em, 300);
                        padding: .5em 0 .5em 1.5em;
                        color: $color4;
                        //mobile(M)
                        @include for-phone-only {
                            @include typography(3vw,center, 1.5em, 400);
                        }
                        //mobile(S)
                        @include for-phoneS-only{
                            font-size: 4vw;
                        }
                    }
                }
                &__buttonWrapper {
                    @include screenSize(100%, auto);
                    padding: 1.5em 0;
                    @include displayFlex(flex-end, flex-start, row);
                    //tablet
                    @include for-tablet-only {
                        padding: 0.5em 0;
                    }
                    //mobile(M)
                    @include for-phone-only {
                        @include displayFlex(center, center, row);
                        padding: 2em 0 1.5em 0;
                    }
                    //mobile(S)
                    @include for-phoneS-only {
                        padding-top: 1em;
                    }
                }
            }
        }
        &__image {
            @include screenSize(50%, auto);
            //mobile(M)
            @include for-phone-only {
                @include screenSize(100%, 50%);
            }
            img {
                width: 100%;
                //phone(M)
                @include for-phone-only {
                    @include screenSize(100%, 100%);
                }
            }
        }
    }
}
