@use "../../../abstract/abstract" as *;

.top {
    position: fixed;
    top: 80%;
    left: 85%;
    z-index: 99999;
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 2rem;
    border: none;
    opacity: .2;
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    @include displayFlex(center, center, row);

    //md
    @include for-md-only {
        left: 90%;
        font-size: 2.5rem;
    }

    //lg
    @include for-lg-only {
        left: 95%;
    }

    //xl
    @include for-xl-only {
        left: 90%;
        width: 60px;
        height: 60px;
        font-size: 3rem;
    }

    &:hover {
        opacity: .4;
        transition: all 0.3s ease;
    }
}