@use "../../../abstract/abstract" as *;

.content {
    color: $color10;

    @include screenSize(100%, auto);

    span {
        p {
            font-weight: 500;
            color: $color4;
            margin-bottom: 1.5em;
        }
    }

    h2 {
        margin: 0.7em 0;

        @include titleMd(left);
    }

    h3 {
        color: $color2;
        margin-top: 0.7em;

        @include titleSm(left);
    }

    p {
        @include text(start);
    }

    a {
        color: $color7;
        transition: all 0.4s linear;
        cursor: pointer;

        &:hover {
            color: $color1;
            transition: all 0.4s linear;
        }
    }
}