@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    position: relative;
    margin-top: 5rem;

    //mobile(M)
    @include for-phone-only {
        padding: 8vh 0;
    }

    //mobile(S)
    @include for-phoneS-only {
        margin-top: 0;
    }

    &__background {
        @include screenSize(100vw, 100vh);
        position: absolute;
        z-index: 0;

        //mobile(M)
        @include for-phone-only {
            @include screenSize(100%, 100%);
            top: -1.5em;
        }

        &-desktop {
            @include screenSize(100vw, 100vh);
            object-fit:cover;
            position: relative;

            //mobile(M)
            @include for-phone-only {
                display: none;
            }
        }

        &-mobile {
            display: none;

            //mobile(M)
            @include for-phone-only {
                position: relative;
                display: inline-block;
                @include screenSize(100%, 100%);
                object-fit: cover;
                object-position: 50% 55%;
            }
        }
    }

    //mobile(M)
    @include for-phone-only {
        padding-bottom: 3em;
    }

    .content {
        @include screenSize(80%, auto);
        @include displayFlex(center, center, row);
        z-index: 1;

        //tablet
        @include for-tabletS-only {
            padding: 9vh 0;
        }
        //mobile(M)
        @include for-phone-only {
            @include displayFlex(center, center, column);
            padding: 13vh 0 0 0;
        }

        &__title {
            @include screenSize(100vw, 60%);
            margin: 35em 0 1em;
            padding: 1em 0;
            span {
                color: $color1;
            }
            //tablet
            @include for-tablet-only {
                margin: 25em 0 .5em 0;
            }

            //mobile(M)
            @include for-phone-only {
                @include screenSize(80%, auto);
                margin: 18em 0 1.5em;
            }

            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(95%, auto);
            }

            //mobile(XS)
            @include for-phoneXS-only {
                margin-top: 10em;
            }

            h1 {
                @include typography(2vw, start, 1.4em, 400);
                color: $color2;

                //mobile(M)
                @include for-phone-only {
                    @include typography(4vw, center, 1.3em, 300);
                }

                //mobile(S)
                @include for-phoneS-only {
                    font-size: 5vw;
                }
            }
        }

        &__buttons {
            @include screenSize(20vw, auto);
            @include displayFlex(space-between, center, row-reverse);
            margin: 35.9em 0 1em;
            padding: 1em 0;

            @include for-tablet-only {
                margin: 25em 0 1em;
            }

            //mobile(M)
            @include for-phone-only {
                @include screenSize(75%, auto);
                @include displayFlex(center, center, row); // Change

                margin: 1em 0 1em;
                padding: 1em 0 3em 0;
                flex-wrap: wrap;
            }

            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(100%, auto);
                flex-direction: column;
            }
        }
    }
}