@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    position: relative;
    margin-top: 5rem;
    //mobile(M)
    @include for-phone-only{
        padding: 8vh 0;    
    }
    //mobile(S)
    @include for-phoneS-only{
        margin-top: 0;
    }
    &__background{
        @include screenSize(100vw, 100%);
        position: absolute;
        z-index: 0;
        //mobile(M)
        @include for-phone-only{
            @include screenSize(100%, 100%);
            top:-5em;
        }
        &-desktop{
            @include screenSize(100%, 100%);
            object-fit:cover;
            background-position-y: 2rem;
            //mobile(M)
            @include for-phone-only{
                display:none;
            }
        }
        &-mobile{
            display:none;
            //mobile(M)
            @include for-phone-only{
                position: relative;
                display: inline-block;
                @include screenSize(100%, 100%);
                object-fit:cover;
                object-position:  50% 55%;
            }
        }
    }
    //mobile(M)
    @include for-phone-only {       
        padding-bottom: 3em;
    }
    .content {
        @include screenSize(80%, auto);
        @include displayFlex(center, flex-start, column);
        padding: 14vh 0;
        z-index: 1;
        //tablet
        @include for-tabletS-only{
            padding: 9vh 0;
        }
        //mobile(M)
        @include for-phone-only {
            @include displayFlex(center, center, column);
            padding: 13vh 0 0 0;
        }
        &__logo {
            @include screenSize(20%, auto);
            //mobile(M)
            @include for-phone-only {
                display: none;
            }
        }
        &__title {
            @include screenSize(48%, auto);
            margin: 2em 0 1.5em;
            //tablet
            @include for-tablet-only{
                margin: 1em 0 .5em 0;
            }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(80%, auto);
                margin: 2em 0 1.5em;
                padding-top: 22em;
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(95%, auto);
            }
            //mobile(XS)
            @include for-phoneXS-only{
                margin-top: 5em;
            }
            h1 {
                @include typography(2.8vw, start, 1.1em, 400);
                color: $color2;
                //mobile(M)
                @include for-phone-only {
                    @include typography(7vw, center, 1.3em, 300);
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 11vw;
                }
            }
        }
        &__text {
            @include screenSize(50%, auto);
            margin: 1.2em 0 1.5em 0;
            //tablet
            @include for-tablet-only{
                margin: 0;
            }
            //mobile(M)
            @include for-phone-only {
                @include screenSize(75%, auto);
                margin: 1.2em 0 1.5em 0;
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(90%, auto);
            }
            p {
                @include typography(1.1vw, start, 1.5em, 300);
                color: $color2;
                //tablet
                @include for-tablet-only{
                    margin-bottom: .5em;
                }
                //mobile(M)
                @include for-phone-only {
                    @include typography(2.6vw, center, 1.4em, 300);
                }
                //mobile(S)
                @include for-phoneS-only {
                    font-size: 4vw;
                }
            }
        }
        &__buttons {
            @include screenSize(35%, auto);
            @include displayFlex(space-between, center, row);
            padding: 1em 0;
            //mobile(M)
            @include for-phone-only {
                @include screenSize(75%, auto);
                padding: 1em 0 3em 0;
                flex-wrap: wrap;
                @include displayFlex(center, center,row); // Change
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(100%, auto);
                flex-direction: column;
            }
        }
    }
}
