@import "../../../abstract/abstract";

.content {
  @include screenSize(100%, auto);
  @include displayFlex(center, center, column);
  gap: 3rem;
  margin-top: 2rem;

  &__titleWrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    gap: 2rem;

    //lg
    @include for-lg-only {
      @include displayFlex(flex-start, center, row);
    }

    .awsMarketplaceLogo {
      width: 20rem;
      @include glassEffect();
      padding: 1.5rem;
    }

    .awsTitle {
      @include titleMain(center);
      color: $color1;

      //lg
      @include for-lg-only {
        @include titleMain(center);
      }
    }
  }

  &__awsSubtitle {
    width: 100%;
    margin: 1.5rem 0;

    p {
      color: $color2;
      @include titleSm(center);

      //lg
      @include for-lg-only {
        @include titleSm(left)
      }
    }
  }

  &__awsCards {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    gap: 2rem;
  }

}