@import "../abstract/functions", "../abstract/variables",  "../abstract/responsive";

.wrapper{
    @include screenSize(100%,auto);
    @include displayFlex(flex-start, center, row);
    @include backgroundImage('/assets/home/bg3.png');
    background-size: 130%;
    background-position-x: 60%;
    background-position-y: 40%;
    //mobile(M)
    @include for-phone-only{
        @include backgroundImage('/assets/home/bg2.png');
        @include displayFlex(center, center, row);
    }
    .content{
        @include screenSize(60%,auto);
        @include displayFlex(center, center, column);
        color: $color2;
        //mobile(M)
        @include for-phone-only{
            @include screenSize(85%,auto);
        }
        &__text{
            @include screenSize(60%,auto);
            padding: 10em 0;
            //mobile(M)
            @include for-phone-only{
                @include screenSize(90%,auto);
                padding: 4em 0;
            }
            &-title{
                @include screenSize(100%,auto);
                padding: 2em 0;
                span{
                    color: $color1;
                }
                h2{
                    @include typography(2.5vw,start,1.2em,600);
                    //mobile(M)
                    @include for-phone-only{
                        @include typography(3em,start,1.2em,600);
                    }
                    //mobile(S)
                    @include for-phoneS-only{
                        font-size: 38px;
                        text-align: center;
                    }
                }
            }
            &-desc{
                @include screenSize(100%,auto);
                strong{
                    font-size: 1.1vw;
                    //mobile(M)
                    @include for-phone-only{
                        font-size: 1.2em;
                    }
                    //mobile(S)
                    @include for-phoneS-only{
                        font-size: 3.98vw;
                    }
                }
                .list{
                    list-style-position: inside;
                    padding: 0.6em 0;
                    li{
                        @include typography(1vw,start,1.8em,300);
                        //mobile(M)
                        @include for-phone-only{
                            @include typography(1.2em,start,1.8em,300);
                        }
                        //mobile(S)
                        @include for-phoneS-only{
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
            &-buttonWrapper{
                @include screenSize(100%,auto);
                margin: 1.5em 0;
                //phone(S)
                @include for-phoneS-only{
                    @include displayFlex(center, center, row);
                }
            }
        }
    }
}