@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.button {
    @include displayFlex(center, center, row);
    outline: none;
    padding: 0.9em 2.5em;
    font-size: 1.1vw;
    border-radius: 1.5em;
    border: 2px solid $color1;
    color: $color1;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 500;
    background: transparent;
    transition: all 0.5s linear;
    min-width: 12vw;

    &:hover:not([disabled]){
        background: linear-gradient(45deg,$color1,$color7);
        color: $color3;
        transition: all 0.4s linear;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }

    //mobile(M)
    @include for-phone-only {
        font-size: 1.3em;
        margin: 0.5em;
        min-width: 250px;
        border-radius: 1.1em;
    }

    //mobile(S)
    @include for-phoneS-only {
        margin: 0.8em 0;
        min-width: 250px;
    }
    //mobile(XS)
    @include for-phoneXS-only {
        padding: 0.9em 2em;
        font-size: 6vw;
        min-width: 180px;
    }
}

.loader {
    width: 1.1vw;
    height: 1.1vw;
    border: 3px solid $color1;
    margin-right: 0.5vw;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

