@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100%, auto);
    @include displayFlex(center, flex-start, row);
    @include backgroundImage('/assets/home/bg2.png');
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(center, center, column);
        color: $color2;
        
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, column);
            gap: 1vw;
            padding: 4em 0;
            //viewport

            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                @include screenSize(95%,auto);
                padding: 1em 0;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(100%,auto);
            }
            &_formWraper{
                @include displayFlex(center, flex-start, column);
                min-width: 415px;
                padding: 1vw 1vw;
                background-color: $color10;
                border-radius: 5%;

                &_form{
                    @include displayFlex(center, center, column);
                    width: 100%;                  
                    gap: 1.2vh;
                }
            }
        }
        
    }
}