@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

 .content{
        @include screenSize(100%, auto);
        @include displayFlex(center, center, row);
        border: 2px solid $color1;
        padding: 3em;
        border-radius: .5em;
        margin: 5vh 0;
        //Mobile(M)
        @include for-phone-only{
            flex-direction: column;
            padding: 2.5em 2.5em 2em 2.5em;
        }
        &__title{
            @include screenSize(50%, auto);
            @include typography(1.7vw, center , 1.3em, 500 );
            //tablet
            @include for-tablet-only{
               font-size: 1.7vw;
            }
            //Mobile(M)
            @include for-phone-only{
                @include screenSize(100%, auto);
                @include displayFlex(center, center, center);
                font-size: 20px;
                margin-bottom: .5em;
            }
        }
        &__button{
            @include screenSize(50%, auto);
            //Mobile(M)
            @include for-phone-only{
                @include screenSize(100%, auto);
                @include displayFlex(center, center, center);
            }
        }
    }
