@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100%, auto);
    @include displayFlex(center, flex-start, row);
    @include backgroundImage('/assets/home/bg2.png');
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(center, center, column);
        color: $color2;
        
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, column);
            //padding: 4vh 0;
            //viewport

            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                @include screenSize(95%,auto);
                padding: 1em 0;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(100%,auto);
            }
            &_infoBoxWrapper{
                @include displayFlex(center, center, column);
                min-width: 415px;
                padding: 2vh 1vw;
                background-color: $color12;
                border-radius: 1vh;
                gap: 1.5vh;
                
                &_box{
                    @include displayFlex(center, flex-start, column);
                    width: 100%;
                    color: $color2;            
                }
                &_info{
                    @include displayFlex(center, flex-start, row);
                    background-color: $color2;
                    color: $color3;
                    border-radius: 1vh;
                    width: 100%;
                    padding: 0.5em;
                    &_left{
                        width: 80%;
                    }
                    &_right{
                        text-align: right;
                        width: 20%;
                    }
                }
                &_guarantee{
                    @include displayFlex(flex-start, flex-start, column);
                    width: 100%;

                    &_item{
                        @include displayFlex(flex-start, center, row);
                        gap: 0.5vw;
                    }
                }
            }
        }
        
    }
}

.backgroundDif{
    background-color: $color4;
}