@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100%, auto);
    @include displayFlex(center, flex-start, row);
    @include backgroundImage('/assets/home/bg2.png');
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(center, center, column);
        color: $color2;
        
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, column);
            gap: 1vw;
            padding: 4em 0;
            //viewport

            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                @include screenSize(95%,auto);
                padding: 1em 0;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(100%,auto);
            }
            &_infoBoxWrapper{
                @include displayFlex(center, center, column);
                min-width: 415px;
                padding: 1vw 1vw;
                background-color: $color12;
                border-radius: 5%;
                gap: 2vh;
                
                &_box{
                    @include displayFlex(center, center, column);
                    width: 100%;
                    color: $color2;
                    border-radius: 2%;
                    padding: 1vh;

                    h1{
                        color: $color1;
                    }
                }
                &_boxUser{
                    @include displayFlex(center, center, row);
                    width: 100%;
                    gap: 2vw;
                    color: $color2;
                    border-radius: 2%;
                    padding: 1vh;
                }
            }
        }
        
    }
}