@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100vw,auto);
    @include displayFlex(center, center, column);
    background-color: $color9;
    .content{
        @include screenSize(80%,auto);
        @include displayFlex(center, center, column);
        color: $color2;
        //mobile(M)
        @include for-phone-only{
            @include screenSize(90%,auto);
        }
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, row);
            padding: 2em 0 4em 0;
            //viewport
            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include screenSize(100%,auto);
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                @include screenSize(100%,auto);
                padding: 1em 0;
            }
        }
    }
}