@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.content{
    @include screenSize(100%, auto);
    span{
        p{
            color: $color4;
            font-weight: 500;
            margin-bottom: 1.5em;
        }
    }
    h2{
        color: $color7;
        margin: .7em 0;
    }
    h3{
        margin-top: .7em;
        color: $color5;
    }
    a{
        color: $color7;
        transition: all .4s linear;
        cursor: pointer;
        &:hover{
            transition: all .4s linear;
            color: $color1;
        }
    }
}