@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.breadcrumb{
    @include screenSize(40%,auto);
    @include displayFlex(center, center, row);
    padding: 1.5em 0;
    border-radius: 1.3em;
    color: $color2;
    //viewport
    @include for-viewport-only{
        @include screenSize(50%,auto);
    }
    //tablet
    @include for-viewport-only{
        @include screenSize(65%,auto);
    }
    //mobile(M)
    @include for-phone-only{
        @include screenSize(85%,auto);
    }
    //mobile(S)
    @include for-phoneS-only{
        @include screenSize(90vw,auto);
        padding: 0;

    }
    &__item{
        @include screenSize(40%,auto);
        @include displayFlex(center, center, row);
        span{
            @include screenSize(40px,40px);
            @include displayFlex(center, center, row);
            padding: .4em;
            border-radius: 100px;
            background: transparent;
            border: 2px solid $color1;
            margin-right: .5em;
            font-size: .8vw;
            transition: all .3s linear;
            cursor: pointer;
            //tablet
            @include for-tablet-only{
                font-size: 1.2vw;
            }
            //mobile(M)
            @include for-phone-only{
                font-size: 2.4vw;
            }
            //mobile(S)
            @include for-phone-only{
                @include screenSize(30px,30px);
                padding: .3em;
                font-size: 2.3vw;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(15px,15px);
                padding: .2em;
                font-size: 2.4vw;
            }
            &:hover{
                background: $color1;
                color: $color3;
                transition: all .3s linear;
            }
        }
        p{
            font-size: 1vw;
            margin-left: .8em;
            //tablet
            @include for-tablet-only{
                font-size: 1.3vw;
            }
            //mobile(M)
            @include for-phone-only{
                margin-left: .2em;
                font-size: 3vw;
            }
            //mobile(S)
            @include for-phone-only{
                margin-left: 0;
                font-size: 2.8vw;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                font-size: 3vw;
            }
        }
        .selected{
            background: $color1;
            color: $color3;
        }
    }
    &__divider{
        @include screenSize(5%,auto);
        font-size: 30px;
        @include displayFlex(center, center, row);
            //mobile(S)
            @include for-phoneS-only{
                margin: .2em;
            }
    }
}