@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper{
    @include screenSize(100vw,auto);
    @include displayFlex(center, center, column);
    background-color: $color9;
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(center, center, column);
        color: $color2;  
        &__options{
            @include screenSize(80%,auto);
            @include displayFlex(center, center, row);
            padding: 2em 0;
            gap: 2vw;
            //viewport
            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
             @include for-phoneS-only {
                @include screenSize(95%,auto);
                padding: 1em 0;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(100%,auto);
            }
            &-infoBoxWrapper{
                @include displayFlex(center, center, column);
                width: 415px;
                padding: 2vh 1vw;
                background-color: $color12;
                border-radius: 1vh;
                gap: 1.5vh;

                @include for-phone-only{
                    width: 95vw;
                }
                
                .box{
                    @include displayFlex(flex-start, center, row);
                    width: 100%;
                    color: $color2;            
                }
                .info{
                    @include displayFlex(center, flex-start, column);
                    background-color: $color2;
                    color: $color3;
                    border-radius: 1vh;
                    width: 100%;
                    padding: 0.5em;
                    
                    .letterWrapper{
                        @include displayFlex(center, flex-start, row);
                        width: 100%;
                        &__left{
                            width: 65%;
                        }
                        &__right{
                            text-align: right;
                            width: 35%;                   
                        }
                        &__center{
                            width: 100%;
                        }
                    }
                    
                }
                .guarantee{
                    @include displayFlex(flex-start, flex-start, column);
                    width: 100%;

                    &__item{
                        @include displayFlex(flex-start, center, row);
                        gap: 0.5vw;
                    }
                }
            }
        }
        
    }
}

.backgroundDif{
    background-color: $color4;
}