@import '/abstract/functions', '/abstract//responsive', '/abstract/variables';

.supportTitle{
    @include screenSize(100%,auto);
    margin: 10rem 0 8rem 0;
    color: $color1;

    //Tablet S
    @include for-tabletS-only{
        margin: 5rem 0;
    }

    h2{
        @include typography(2.5rem,start,1.3em,600);
            margin-bottom: 2vh;
            color: $color1;
            //tablet
            @include for-tablet-only{
              font-size: 22px;
            }
            //mobile
            @include for-phone-only{
              margin-top: 4rem;
            }
    }
    h4{
        @include typography(1.5rem,start,1.3em,500);
            color: $color2;
            //tablet
            @include for-tablet-only{
              font-size: 17px;
            }
            //tablet
            @include for-tablet-only{
              font-size: 16px;
            }
            //mobile(S)
            @include for-phoneS-only{
              display: none;
            }
    }
}

.content {
    @include screenSize(125%, auto);
    max-width: 1344px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    margin: 1.5em 0;
    gap: .8em;
    padding: 2em 0 2em 0;

    position: relative;

    span {
        color: $color1;
        text-decoration-line: underline;
    }

    //viewport
    @include for-viewport-only {
        @include screenSize(85vw, auto);
        gap: .5em;
    }

    //tablet
    @include for-tablet-only {
        @include screenSize(115%, auto);
    }

    //tablet (S)
    @include for-tabletS-only {
        @include screenSize(85%, auto);
        grid-template: 1fr / repeat(2, 1fr);
        gap: 1em;
    }

    //mobile(M)
    @include for-phone-only {
        @include screenSize(85%, auto);
        @include displayFlex(center, center, column);
        gap: 1.5em;
    }

    //mobile(S)
    @include for-phoneS-only {
        @include screenSize(90vw, auto);
    }
}

.sublist {
    @include resetList();
    margin-top: .3em;

    li {
        font-size: 14px;
        line-height: 1em;

        span {
            color: $color10;
            font-size: .7vw;
            margin: 0 1em;
        }
    }
}

.sectionBar {
    @include screenSize(75%, auto);
    @include displayFlex(center, center, column);

    //viewport
    @include for-viewport-only {
        @include screenSize(80%, auto);
    }

    //tablet
    @include for-tablet-only {
        @include screenSize(85%, auto);
    }

    //mobile(M)
    @include for-phone-only {
        @include screenSize(85%, auto);
    }

    //mobile(S)
    @include for-phoneS-only {
        @include screenSize(100%, auto);
    }
}