@import '/abstract/functions', '/abstract//responsive', '/abstract/variables';

.content {
    @include screenSize(100%, auto);
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    margin: 1.5em auto;
    gap: 1.8em;
    padding: 2em 0 10em 0;

    position: relative;
    span {
        color:$color1;
        text-decoration-line: underline;
    }

    //viewport
    @include for-viewport-only {
        @include screenSize(80%, auto);
    }

    //tablet
    @include for-tablet-only {
        @include screenSize(85%, auto);
    }

    //mobile(M)
    @include for-phone-only {
        @include screenSize(85%, auto);
        @include displayFlex(center, center, column);
        gap: 1.5em;
    }

    //mobile(S)
    @include for-phoneS-only {
        @include screenSize(100%, auto);
    }
}

.sublist {
    @include resetList();
    margin-top: .3em;

    li {
        font-size: 14px;
        line-height: 1em;

        span {
            color: $color10;
            font-size: .7vw;
            margin: 0 1em;
        }
    }
}

.sectionBar {
    @include screenSize(75%, auto);
    @include displayFlex(center, center, column);

    //viewport
    @include for-viewport-only {
        @include screenSize(80%, auto);
    }

    //tablet
    @include for-tablet-only {
        @include screenSize(85%, auto);
    }

    //mobile(M)
    @include for-phone-only {
        @include screenSize(85%, auto);
    }

    //mobile(S)
    @include for-phoneS-only {
        @include screenSize(100%, auto);
    }
}