@import "/abstract/functions", "/abstract/responsive", "/abstract/variables";

.content {
  @include screenSize(100%, auto);
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 2em;
  //mobile(M)
  @include for-phone-only {
    @include displayFlex(center, center, column);
    gap: 2em;
  }
  .details {
    &__label {
      @include typography(1.4vw, left, auto, 500);
      //tablet(S)
      @include for-tabletS-only {
        font-size: 18px;
      }
    }
    &__text {
      @include typography(1vw, left, auto, 300);
      margin: 1.5em 0;
      //tablet(S)
      @include for-tabletS-only {
        font-size: 16px;
      }
    }
  }
  .form {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    @include displayFlex(center, center, column);
    @include glassEffect();
    padding: 1em;
    //mobile(S)
    @include for-phoneS-only{
        width: 85vw;
    }
  }
}
