@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";


.wrapper{
    @include screenSize(100vw,auto);
    @include displayFlex(center, center, column);
    background-color: $color9;
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(center, center, column);
        color: $color2;
        &__options{
            @include screenSize(100%,auto);
            @include displayFlex(space-evenly, center, row);
            padding: 1em 0 1em 0;
            //viewport
            @include for-viewport-only{
                @include screenSize(90%,auto);
            }
            //mobile(M)
            @include for-phone-only{
                @include displayFlex(center, center, column);
                padding: 1em 0 6em 0;
            }
            //mobile(S)
            @include for-phoneS-only {
                @include screenSize(95%,auto);
                padding: 1em 0;
            }
            //mobile(XS)
            @include for-phoneXS-only{
                @include screenSize(100%,auto);
            }
            
            &-decoration{
                @include displayFlex(center, flex-end, column);
                max-width: 50%;
                img{
                    width: 90%;
                    @include pulseAnimation();
                }
                @include for-tablet-only{
                    display: none;
                }
            }

            &-formWraper{
                    @include screenSize(40%, auto);
                    @include displayFlex(center, center, row);
                    //tablet
                    @include for-tablet-only{
                        @include screenSize(60%, auto);
                    }
                    //mobile
                    @include for-phone-only{
                        @include screenSize(80vw, auto);
                    }
            }
        }
        
    }
}