@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100vw, auto);
    @include displayFlex(center, center, column);
    background-color: $color9;
    color: $color2;
    /*margin-top: 8vh;
    @include for-phone-only{
      margin-top: 12vh;
    }*/
    .content{
      @include screenSize(100%, auto);
      .titleWrapper{
        @include backgroundImage('/assets/default/banner.webp');
        @include displayFlex(center, center, row);
        padding: 4em 0;
        // tablet(S)
        @include for-tabletS-only{
          padding: 2.5em 0;
        }
        //mobile(XS)
        @include for-phoneXS-only{
          padding: 1.5em 0;
        }
        &__content{
          @include screenSize(70%, auto);
          //tablet
          @include for-tablet-only{
            @include screenSize(80%, auto);
          }
          &-title{
            @include typography(2.4vw,start,1.3em,600);
            margin-bottom: 2vh;
            color: $color1;
            //tablet
            @include for-tablet-only{
              font-size: 22px;
            }
            //mobile
            @include for-phone-only{
              margin-top: 4rem;
            }
          }
          &-subtitle{
            @include typography(1.3vw,start,1.3em,500);
            color: $color2;
            //tablet
            @include for-tablet-only{
              font-size: 17px;
            }
            //tablet
            @include for-tablet-only{
              font-size: 16px;
            }
            //mobile(S)
            @include for-phoneS-only{
              display: none;
            }
          }
        }
      }
      .contentWrapper{
        @include screenSize(70%, auto);
        @include displayFlex(center, center, column);
        margin: auto;
        padding: 4em 0;
        //tablet
        @include for-tablet-only{
          @include screenSize(80%, auto);
          padding: 2.5em 0;
        }
        //mobile
        @include for-phone-only{
          padding: 4em 0;
        }
      }
    }
    .back{
      @include screenSize(100%,auto);
      @include displayFlex(center, center, row);
      font-size: 2vw;
      color: $color7;
      padding-bottom: 2em;
      cursor: pointer;
      transition: all .5s linear;
      &:hover{
        transition: all .5s linear;
        color: $color1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      a{
        &:link{
          color: $color1;
        }
        &:active{
          color: $color1;
        }
        &:visited{
          color: $color1;
        }
      }
      //tablet
      @include for-tablet-only{
        font-size: 3.5vw;
      }
      //mobile(S)
      @include for-phoneS-only{
        font-size: 6vw;
      }
    }
  }