@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.footer{
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);  
    background-color: $color3;
    padding-top: 15vh;  
    a{
        color: $color2;
        transition: all .5s linear;
        &:visited{
            color: $color2;
        }
        &:hover{
            transition: all .5s ease-in-out;
            color: $color1;
        }
        &:active{
            color: $color1;
        }
    }
    //tablet(S)
    @include for-tabletS-only{
        @include screenSize(95%, auto);
        padding-top: 10vh;
    }
    //Mobile
    @include for-phone-only{
        padding-top: 15vh;
        @include screenSize(100%, auto);
    }
    .content{
        @include screenSize(80%, auto);
        @include displayFlex(space-between, flex-start, row); 
        color: $color2;
        padding-bottom: 5vh;
        //mobile
        @include for-phone-only{
            @include screenSize(70%, auto);
            @include displayFlex(center, center, column); 
        }
        &__logoAndSocial{
            @include screenSize(40%, 100%);
            @include displayFlex(center, flex-start, column);
            //tablet(S)
            @include for-tabletS-only{
                @include screenSize(30%,100%);
            }
            //mobile
            @include for-phone-only{
                @include screenSize(100%,auto);
                @include displayFlex(center, center, column);
            }
            .logo{
                width: 14vw;
                margin: .9em 0 .3em 0;
                //tablet
                @include for-tablet-only{
                    width: 16vw;
                    margin: .7em 0;
                }
                //tablet(S)
                @include for-tabletS-only{
                    margin: 1.2em 0 .2em 0;
                }
                //mobile(M)
                @include for-phone-only{
                    width: 30vw;
                    margin: 0 0 .8em 0;
                }
                //mobile(S)
                @include for-phoneS-only{
                    width: 42vw;
                    margin-bottom: .7em;
                }
            }
            .items{
                    @include resetList();
                    @include screenSize(14vw,auto);
                    @include displayFlex(center,center,row);
                    //tablet
                    @include for-tablet-only{
                        width: 16vw;
                    }
                    //mobile(M)
                    @include for-phone-only{
                        width: 30vw;
                    }
                    //mobile(S)
                    @include for-phoneS-only{
                        @include screenSize(42vw,auto);
                    }
                    li{
                        @include displayFlex(center,center,row);
                        @include screenSize(3vw,auto);
                        color: $color1;
                        font-size: 2.8vw;
                        transition: all .5s linear;
                        cursor: pointer;
                        //tablet
                        @include for-tablet-only{
                            @include screenSize(4vw,auto);
                            font-size: 3.2vw;
                        }
                        //mobile(M)
                        @include for-phone-only{
                            @include screenSize(auto,auto);
                            font-size: 6vw;
                        }
                        //mobile(S)
                        @include for-phoneS-only{
                            @include screenSize(10vw,auto);
                            font-size: 9vw;
                        }
                        a{
                            color:$color1;
                        }
                        &:hover{
                            transition: all .5s linear;
                            color: $color2;
                            transform: scale(1.05);
                        }
                    }
                }
        }
        &__details{
            @include screenSize(60%, auto);
            @include displayFlex(center, center, column);
            //tablet(S)
            @include for-tabletS-only{
                @include screenSize(60%,100%);
            }
            //mobile(M)
            @include for-phone-only{
                @include screenSize(90%,100%);
            }
            &-lists{
                @include screenSize(100%, auto);
                @include displayFlex(space-between, flex-start, row);
                //tablet
                @include for-tablet-only{
                    @include displayFlex(space-evenly, flex-start, row);
                }
                //mobile(M)
                @include for-phone-only{
                    margin-top: 5vh;
                    @include displayFlex(space-between, flex-start, row);
                }
                //mobile(S)
                @include for-phoneS-only{
                    @include displayFlex(center, center, column);
                }
                ul{
                    @include screenSize(33.3%, auto);
                    @include displayFlex(center, flex-start, column);
                    margin: 1em 0;
                    @include resetList();
                    //tablet
                    @include for-tablet-only{
                        @include screenSize(28%, auto);
                    }
                    //tablet(S)
                    @include for-tabletS-only{
                        @include screenSize(25%, auto);
                    }
                    //mobile(M)
                    @include for-phone-only{
                        @include screenSize(100%, auto);
                        @include displayFlex(center, center, column);
                        margin: .6em 0;
                    }
                    li{
                       cursor: pointer;
                       @include typography(1vw,left,1.4em,300);
                       opacity: .9;
                       //tablet
                       @include for-tablet-only{
                        font-size: 1.1vw;
                       }
                       //mobile(M)
                       @include for-phone-only{
                        text-align: center;
                        font-size: 2vw;
                       }
                      //mobile(S)
                       @include for-phoneS-only{
                        font-size: 15px;
                       }
                       span{
                        opacity: 1;
                        @include typography(1.1vw,center,1.9em,600);
                        //tablet
                        @include for-tablet-only{
                            font-size: 1.2vw;
                        }
                        //mobile(M)
                        @include for-phone-only{
                            text-align: center;
                            font-size: 2.1vw;
                        }
                        //mobile(S)
                        @include for-phoneS-only{
                            font-size: 17px;
                        }
                       }
                    }
                }
            }
        }
    }

    &__copy{
        @include screenSize(80%, auto);
        @include displayFlex(center,center,column);
        padding: 15vh 0 3vh 0;
        color: $color2;
        //viewport
        @include for-viewport-only{
            @include screenSize(65%, auto);
            padding: 8vh 0 3vh 0;
        }
        p{
            @include typography(.8vw,center,1.3em,400);
            //viewport
            @include for-viewport-only{
                font-size: .95vw;
            }
            //tablet
                @include for-tablet-only{
                font-size: 1.1vw;
             }
            //mobile(M)
            @include for-phone-only{
                font-size: 1.8vw;
            }
            //mobile(S)
            @include for-phoneS-only{
                font-size: 14px;
            }
        }
    }
}