@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, row);
    background-color: $color3;  
    z-index: 99;
    .content {
        @include screenSize(40%, auto);
        @include displayFlex(center, center, row);
        padding: 1.5vh 0;
        z-index: 99;
        //mobile(M)
        @include for-phone-only{
            padding: 2.5vh 0;
        }

        &__logo {
            @include screenSize(10vw, auto);
            min-width: 180px;
            //tablet
            @include for-tablet-only{
                @include screenSize(150px, auto);
            }
        }
        &__buyButton{
            position: absolute;
            right: 4vw;
            @include for-phone-only{
                display: none;
            }
        }
    }
}