@import "abstract/functions", "abstract/variables", "abstract/responsive";

.wrapper{
    @include screenSize(100%,auto);
    @include displayFlex(flex-start, center, row);
    //tablet(S)
    @include for-tabletS-only{
        @include displayFlex(center, center, row);
    }
    .switchButton{
        @include screenSize(45%,auto);
        @include displayFlex(flex-start, center, row);
        padding: 1.5vh 1em;
        position:relative;
        //tablet(S)
         @include for-tabletS-only{
            @include screenSize(auto,auto);
             @include displayFlex(center, center, row);
         }
        input{
            @include screenSize(16px,16px);
            margin-right: .5em;
            opacity: 0;
        }
        label{
            @include screenSize(16px,4vh);
            @include displayFlex(flex-start, center, row);
            @include typography(14px,start,20px,400);
            margin-left: 3.5em;
            strong{
                margin-right: .3em;
            }
        }
        input + label {
            &::before{
                content: "";
                width: 60px;
                height: 30px;
                background: $color11;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.5 47.5'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 38h38V0H0v38Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='matrix(1.25 0 0 -1.25 0 47.5)'%3E%3Cpath fill='%23FFFFFF' d='M36 19c0-9.389-7.611-17-17-17S2 9.611 2 19s7.611 17 17 17 17-7.611 17-17'/%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                border: 2px double $color1;
                border-radius: 1.4em;
                padding: .1em;
                cursor: pointer;
                margin: 0 .5em;
                transition: all .3s ease-in;
            }
        }
        input:checked + label{ 
            &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.5 47.5'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 38h38V0H0v38Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='matrix(1.25 0 0 -1.25 0 47.5)'%3E%3Cpath fill='%23FFFFFF' d='M36 19c0-9.389-7.611-17-17-17S2 9.611 2 19s7.611 17 17 17 17-7.611 17-17'/%3E%3C/g%3E%3C/svg%3E");
                background-size: 100%;
                background-repeat: no-repeat;
                background-color: $color5;
                background-size: contain;
                background-position-x: 30px;
                background-repeat: no-repeat;
                transition: all .3s ease-in;
                &:focus{
                    outline: 3px solid $color2;
                }
            }           
        }
    }
    
}