@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include displayFlex(flex-end, center, row);
    @include screenSize(85%, auto);

    position: fixed;
    bottom: 0;
    margin: 2em 0;
    z-index: 9999999;

    .image {
        width: 4vw;

        &:hover {
            cursor: pointer;
        }
    }

    .form {
        @include screenSize(80%, auto);
    }
}