@use "../../../../../abstract/abstract" as *;

.wrapper {
    position: relative;
    overflow-y: hidden;

    &{
      @include screenSize(100vw, calc(100vh - $headerHeight));
      @include displayFlex(center, center, column);
    }

    .content {
        &{
            @include screenSize(100%, 100%);
        }

        // lg
        @include for-xl-only {
            @include screenSize(60%, 100%);
        }

        &__text {
            gap: 2rem;

            &{
              @include screenSize(100%, 100%);
              @include displayFlex(center, center, column);
            }

            // md
            @include for-md-only {
                width: 80%;

                @include displayFlex(center, flex-start, column);
            }

            &-title {
                @include titleXL(center);

                //md
                @include for-md-only {
                    text-align: left
                }
            }

            &-details {
                @include text(center);

                //md
                @include for-md-only {
                    text-align: left
                }
            }

            &-button {
                padding: .8rem 2rem;
                font-size: 1.25rem;
                font-weight: bold;
                border: 5px solid $color1;
                background-color: transparent;
                border-radius: 15px;
                cursor: pointer;
                outline: none;

                a {
                    color: $color3 !important;
                }
            }
        }
    }

    .firstLogo {
        position: absolute;
        top: -25rem;
        right: -2rem;
        z-index: -1;
        opacity: 0.1;

        // md
        @include for-md-only {
            opacity: 0.3;
        }

        // xl
        @include for-xl-only {
            z-index: 0;
            opacity: 1;
        }
    }

    .secondLogo {
        @extend .firstLogo;

        top: 21rem;
        right: 5rem;
    }
}