@import "../abstract/functions", "../abstract/variables", "../abstract/responsive";

.wrapper {
    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    background-color: $color3;
    @include backgroundImage("/assets/home/bg2.png");
    margin-top: -0.5em;
    //mobile(M)
    @include for-phone-only {
        margin-top: -0.5em;
    }
    .title {
        @include screenSize(80%, auto);
        padding: 9em 0 2em 0;
        //tablet
        @include for-tablet-only {
            @include screenSize(60%, auto);
            padding: 6em 0 1em 0;
        }
        //mobile(M)
        @include for-phone-only {
            padding: 6em 0 0 0;
        }
        //mobile(S)
        @include for-phoneS-only {
            @include screenSize(70%, auto);
        }
        h2 {
            @include typography(2.8vw, center, 1.3em, 600);
            color: $color2;
            //mobile(M)
            @include for-phone-only {
                font-size: 6.5vw;
            }
            //mobile(S)
            @include for-phoneS-only {
                font-size: 10vw;
            }
        }
    }
    .content {
        @include screenSize(85%, auto);
        @include displayFlex(center, center, row);
        padding: 3em 0 10em 0;
        //tablet
        @include for-tablet-only {
            padding: 3em 0 8em 0;
        }
        //mobile(M)
        @include for-phone-only {
            padding: 1em 0 4em 0;
            flex-wrap: wrap;
        }
        //mobile(S)
        @include for-phoneS-only {
            padding: 2em 0 5em 0;
        }
    }
}
