@use "../../abstract/abstract" as *;

.content {
    margin: 1rem 0 2rem;
    padding: 2.5em 2.5em 2em;
    border-radius: .5em;
    gap: 1rem;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    @include glassEffect;

    // lg
    @include for-lg-only {
        padding: 3em;
        gap: 5rem;

        @include displayFlex(center, center, row);
    }

    &__title {
        @include screenSize(auto, auto);
        @include titleCard(center)
    }

    &__button {
        @include screenSize(auto, auto);
        @include displayFlex(center, center, center);
    }
}