@import "../../../../../abstract/functions", "../../../../../abstract/variables", "../../../../../abstract/responsive";

.item{ 
    @include displayFlex(space-between, center, column);
    padding: 1.5vh 2vw;
    margin-bottom: 2vh;
    transition: all .5s ease-in-out;
    @include glassEffectDark();
    color: $color2;
    border-radius: 35px;
    cursor: pointer;
    //viewport
    @include for-viewport-only{
        border-radius: 1.5em;
    }
    //mobile
    @include for-phone-only{
        border-radius: .8em;
    }
    &__title{
        @include text(1.3vw, start);
        @include displayFlex(space-between, center, row);
        //tablet(S)
        @include for-tabletS-only{
           font-size: 2vw;
        }
        //mobile(S)
        @include for-phoneS-only{
           font-size: 15px;
           font-weight: 500;
        }
    }
    &__active{
        opacity: 1.1;
    }
    //tablet(S)
    @include for-tabletS-only{
        @include text(2.2vw, start);
    }
    //Mobile(M)
    @include for-phone-only {
        padding: 1.5vh 4vw;
        @include text(3.2vw, start);
    }
    button{
        @include screenSize(60px,60px);
        @include displayFlex(center, center, row);
        outline: none;
        background-color: $color9;
        border: none;
        color: $color1;
        font-size: 2vw;
        cursor: pointer;
        //viewport
        @include for-viewport-only{
            @include screenSize(40px,40px);
        }
        //Mobile(M)
        @include for-phone-only {
            font-size: 7vw;

        }
    }
    .cardAnswer{
        @include screenSize(100%,120px);
        @include text(1.08vw, start);
        color: $color10;
        transition: all .2s ease-in-out;
        opacity: 1;
        &__reset{
            opacity: 0;
            transition: all .2s ease-in-out;
        }
        //tablet
        @include for-tablet-only{
            @include text(1.3vw, start);
        }
        //tablet(S)
        @include for-tabletS-only{
            @include screenSize(80%,100px);
            @include text(2vw, start);
        }
        //mobile(S)
        @include for-phoneS-only{
            font-size: 15px;
            font-weight: 300;
         }
    }
    .hide{
        height: 0;
        overflow: hidden;
        transition: all .5s ease-in;
    }
    .show{
        height: 140px;
        @include displayFlex(flex-start, center, row);
        width: 100%;       
        transition: all .5s ease-in-out;
        //mobile
        @include for-phone-only{
            height: 200px;
        }
        //mobile(S)
        @include for-phoneS-only{
            max-height: 250px;
        }
    }
}