@use "../../../../abstract/abstract" as *;


.formWrapper {
    padding: 1rem;
    background-color: $color12;

    @include screenSize(100%, auto);
    @include displayFlex(center, center, column);
    @include glassEffect;

    //sm
    @include for-sm-only {
        max-width: 500px;
    }

    //xl
    @include for-lg-only {
        width: 100%;
        padding: 1rem;
        border-radius: 15px;
    }

    .form {
        width: 100%;
        gap: 1.2vh;

        @include displayFlex(center, center, column);

        &__buttonWrapper {
            @include screenSize(100%, auto);
            @include displayFlex(center, center, row);
        }

        .actions {
            padding: 2.5rem 0;

            @include displayFlex(center, center, row);
        }

        .astronault {
            text-align-last: center !important;
        }
    }
}